/*mixins, variables*/
/*import fonts*/
@font-face {
  font-family: "Fab";
  src: url('../fonts/../../fonts/ffad.ttf') format('truetype');
}
/*font variables*/
/*To Change*/
/* line 1, ../sass/_style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/_style.scss */
html {
  height: 100%;
}

/* line 23, ../sass/_style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/_style.scss */
#map-canvas {
  height: 100%;
}

/* line 26, ../sass/_style.scss */
input[type="submit"] {
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
/* line 31, ../sass/_style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*typography base*/
/* line 37, ../sass/_style.scss */
body {
  font-size: 13px;
}

/* line 40, ../sass/_style.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit;
}

/* line 44, ../sass/_style.scss */
h1 {
  font-size: 90px;
  line-height: 1em;
}

/* line 49, ../sass/_style.scss */
h3 {
  font-size: 60px;
}

/* line 53, ../sass/_style.scss */
h2 {
  font-size: 60em;
  line-height: 1em;
}

/* line 57, ../sass/_style.scss */
h5 {
  font-size: 30px;
  line-height: 1.5em;
}

/* line 63, ../sass/_style.scss */
#about {
  background: url("../img/3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 71, ../sass/_style.scss */
#portfolio {
  background-image: url("../img/header1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* line 77, ../sass/_style.scss */
.circle-text {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

/* line 83, ../sass/_style.scss */
.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba(20, 133, 204, 0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 94, ../sass/_style.scss */
.circle-text div {
  float: left;
  width: 100%;
  padding-top: 17%;
  margin-top: -0.5em;
  text-align: center;
  color: #f7f7f5;
}

/* line 103, ../sass/_style.scss */
h5 {
  font-family: 'Muli', tahoma;
  width: 400px;
}

/* line 108, ../sass/_style.scss */
#mobilenav a {
  font-size: 16px;
}

/* Portrait */
@media all and (orientation: portrait) {
  /*landscape*/
}
@media all and (orientation: portrait) and (orientation: landscape) {
  /* line 118, ../sass/_style.scss */
  .round {
    margin-top: 10%;
    padding: 10%;
  }

  /* line 124, ../sass/_style.scss */
  .square {
    padding: 10% 2%;
    padding-top: 3%;
    padding-bottom: 12.1%;
  }

  /* line 130, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media all and (orientation: portrait) {
  /* line 137, ../sass/_style.scss */
  body {
    font: 16px/1.4em;
  }

  /* line 141, ../sass/_style.scss */
  nav li a {
    text-decoration: none;
  }

  /* line 145, ../sass/_style.scss */
  nav li {
    list-style: none;
  }

  /* line 149, ../sass/_style.scss */
  ul {
    margin: 0 0 0em;
    list-style: disc;
    padding: 0px;
  }

  /* line 155, ../sass/_style.scss */
  p {
    font-family: 'Muli', Tahoma, sans-serif;
  }

  /*navigation mobile first*/
  /* line 161, ../sass/_style.scss */
  #mobilenav li a {
    display: block;
    color: #212121;
    text-decoration: none;
    text-align: center;
    font-family: 'Anaheim', Tahoma, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 2em;
    height: 2em;
    padding-top: 0.5em;
    border-bottom: 1px solid #bfbfbf;
    background-color: #f7f7f5;
  }

  /* line 176, ../sass/_style.scss */
  #mobilenav li:last-child a {
    border-bottom: none;
  }

  /* line 180, ../sass/_style.scss */
  #mobilenav li a:hover,
  #mobilenav li a:focus {
    color: #f7f7f5;
    background: #1485cc;
  }

  /*#topnav #navbtn {
   // display: none;
    padding-left: 15px;
    background-color: #f7f7f5;
    background: url('../img/menu.png') center no-repeat;
    text-indent: -99999px;
  }
  
  #topnav {
  	position: absolute;
  	top: 0;
  	width: 100%;
  }*/
  /* line 200, ../sass/_style.scss */
  #btncolor {
    width: 40px;
    height: 23px;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    background-color: #f7f7f5;
    margin-left: 43%;
  }

  /* line 211, ../sass/_style.scss */
  .round p, .round h1, .round h2 {
    width: 130px;
    font-family: 'Muli', Tahoma, sans-serif;
  }

  /* line 216, ../sass/_style.scss */
  .round p {
    font-size: 90%;
  }

  /*.round h1 {
  	font-size: 350%;
  	margin: 0em;
  	padding: 0em;
  }*/
  /*.round h2 {
  	font-size: 120%;
  	margin: 0em;
  	margin-top: -15px;
  	padding: 0em;
  }*/
  /* line 235, ../sass/_style.scss */
  .roundwrapper {
    width: 100%;
    text-align: center;
  }

  /*footer*/
  /* line 241, ../sass/_style.scss */
  footer {
    height: 1.5em;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 4.5%;
    padding-left: 3%;
    padding-top: 5px;
    position: fixed;
    z-index: 1000000;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 12px;
    background-color: #f7f7f5;
  }

  /* line 259, ../sass/_style.scss */
  #footerwrap {
    margin-bottom: 0px;
  }

  /* line 263, ../sass/_style.scss */
  .squarewrapper {
    width: 100%;
    text-align: right;
  }

  /* line 269, ../sass/_style.scss */
  .square {
    background-color: rgba(55, 55, 55, 0.5);
    color: #f7f7f5;
    display: inline-block;
    text-align: center;
  }

  /* line 276, ../sass/_style.scss */
  .square h3 {
    margin-top: 4%;
    font-size: 30px;
    font-family: 'Muli', Tahoma, sans-serif;
    border-bottom: 1px solid #f7f7f5;
  }

  /* line 283, ../sass/_style.scss */
  .square p {
    font-size: 13px;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-bottom: 0px;
  }

  /* line 289, ../sass/_style.scss */
  #imagewrapper {
    width: 100%;
    height: 100%;
  }

  /* line 294, ../sass/_style.scss */
  #portfolio {
    background-color: #f7f7f5;
  }

  /* line 298, ../sass/_style.scss */
  #title {
    color: #f7f7f5;
    font-family: 'Muli', Tahoma, sans-serif;
    width: 100%;
    text-align: center;
    padding-bottom: 0.3%;
    padding-top: 0.02%;
  }

  /* line 308, ../sass/_style.scss */
  #title p {
    padding-bottom: 3.1%;
  }

  /* line 314, ../sass/_style.scss */
  #portfolioitems {
    margin: 2% 6%;
  }

  /* line 318, ../sass/_style.scss */
  .items {
    float: left;
    display: inline;
    margin: 1%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  /* line 327, ../sass/_style.scss */
  #txt {
    width: 90%;
    color: #f7f7f5;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 14px;
    margin-left: 3%;
    text-align: center;
  }

  /* line 336, ../sass/_style.scss */
  #portfolioitems a:hover {
    background-color: rgba(20, 133, 204, 0.8);
  }

  /* line 340, ../sass/_style.scss */
  .ch-item {
    float: left;
    display: inline;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    margin: 2%;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0 0 0 rgba(20, 133, 204, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
  }

  /* line 358, ../sass/_style.scss */
  .ch-img-1 {
    background-image: url(../img/startup/homestartupport.jpg);
  }

  /* line 362, ../sass/_style.scss */
  .ch-img-2 {
    background-image: url(../img/blog/welcomeport.jpg);
  }

  /* line 366, ../sass/_style.scss */
  .ch-img-3 {
    background-image: url(../img/mise/Mise-coloredport.png);
  }

  /* line 370, ../sass/_style.scss */
  .ch-img-4 {
    background-image: url(../img/Wdoc/portfoliothumb.jpg);
  }

  /* line 374, ../sass/_style.scss */
  .ch-img-5 {
    background-image: url(../img/vos.jpg);
  }

  /* line 378, ../sass/_style.scss */
  .ch-img-6 {
    background-image: url(../img/experiments/rain.png);
  }

  /* line 382, ../sass/_style.scss */
  .ch-img-7 {
    background-image: url(../img/experiments/animation.jpg);
  }

  /* line 386, ../sass/_style.scss */
  .ch-img-8 {
    background-image: url(../img/experiments/canvas.jpg);
  }

  /* line 390, ../sass/_style.scss */
  .ch-img-9 {
    background-image: url(../img/experiments/dropdown.jpg);
  }

  /* line 394, ../sass/_style.scss */
  .ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
  }

  /* line 408, ../sass/_style.scss */
  .ch-info h3 {
    color: #f7f7f5;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 0px;
    text-align: center;
    margin-bottom: -70px;
    padding: 65px 0 0 0;
    height: 40px;
    font-family: 'Muli', Tahoma, sans-serif;
    text-shadow: 0 0 1px #f7f7f5, 0 1px 2px rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  /* line 426, ../sass/_style.scss */
  .ch-grid a {
    text-decoration: none;
  }

  /* line 430, ../sass/_style.scss */
  .ch-info p {
    color: #f7f7f5;
    padding: 0px 5px;
    font-style: italic;
    text-align: center;
    padding-top: 0px;
    font-size: 12px;
  }

  /* line 440, ../sass/_style.scss */
  .ch-info .first {
    margin-top: 80px;
  }

  /* line 444, ../sass/_style.scss */
  .ch-info p .seemore {
    text-align: center !important;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 0px;
    font-family: 'Mule', Tahoma, sans-serif;
    position: relative;
    z-index: 1;
  }

  /* line 459, ../sass/_style.scss */
  .ch-info p a:hover {
    color: rgba(33, 33, 33, 0.8);
  }

  /* line 463, ../sass/_style.scss */
  .ch-item:hover {
    box-shadow: inset 0 0 0 110px rgba(20, 133, 204, 0.7), inset 0 0 0 16px rgba(20, 133, 204, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  /* line 470, ../sass/_style.scss */
  .ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);
  }

  /* line 475, ../sass/_style.scss */
  .ch-grid {
    list-style: none;
    margin: 3%;
    margin-left: 13%;
    margin-top: 5%;
  }

  /* line 482, ../sass/_style.scss */
  #title h2 {
    font-size: 16px;
    font-family: 'Muli', Tahoma, sans-serif;
    border-bottom: 1px solid #f7f7f5;
    padding-top: 4%;
  }

  /* line 489, ../sass/_style.scss */
  #title p {
    font-size: 12px;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-top: 2%;
  }

  /* line 495, ../sass/_style.scss */
  .wrapper {
    height: 95%;
  }

  /* line 501, ../sass/_style.scss */
  #map-canvas {
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 0;
    width: 100%;
    height: 98%;
  }

  /* line 510, ../sass/_style.scss */
  #map {
    height: 97%;
  }

  /* line 514, ../sass/_style.scss */
  #topnav {
    position: absolute;
    z-index: 9999;
  }

  /* line 519, ../sass/_style.scss */
  #contactform {
    margin-top: 70%;
    width: 100%;
    height: 70%;
    background-color: rgba(33, 33, 33, 0.5);
    position: relative;
    z-index: 500;
  }

  /* line 528, ../sass/_style.scss */
  #contactform h2 {
    font-size: 20px;
    font-family: 'Muli', Tahoma, sans-serif;
    color: #f7f7f5;
    border-bottom: 1px solid #f7f7f5;
    padding-top: 0%;
    padding-bottom: 1.5%;
    margin: 3%;
    text-align: center;
  }

  /* line 539, ../sass/_style.scss */
  label {
    color: #f7f7f5;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 13px;
    margin: 1%;
    margin-left: 3%;
    margin-top: 5%;
    display: block;
  }

  /* line 549, ../sass/_style.scss */
  .field {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    height: 30px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: solid 1px #1485cc;
    background-color: #f7f7f5;
    color: #212121;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }

  /* line 566, ../sass/_style.scss */
  textarea {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    height: 50px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: solid 1px #1485cc;
    background-color: #f7f7f5;
    color: #212121;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 10px;
    padding-left: 10px;
    outline: none;
  }

  /* line 583, ../sass/_style.scss */
  input:focus, textarea:focus {
    border: 2px solid #1485cc;
  }

  /* line 587, ../sass/_style.scss */
  #send {
    margin-left: 35%;
    margin-top: 3%;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #1379b8;
    color: #f7f7f5;
    background-color: #1485cc;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: 'Give You Glory', Tahoma, sans-serif;
    font-size: 25px;
  }

  /* line 605, ../sass/_style.scss */
  ::-webkit-validation-bubble-message, ::-webkit-validation-bubble-arrow {
    background-color: #1485cc;
    border: 1px solid #1379b8;
  }

  /* line 610, ../sass/_style.scss */
  ::-webkit-validation-bubble-message {
    color: #f7f7f5;
    font-size: 16px;
    font-family: 'Muli', Tahoma, sans-serif;
    padding: 1em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-left: 30px;
  }

  /* line 621, ../sass/_style.scss */
  ::-webkit-validation-bubble-arrow {
    margin-left: 80px;
  }

  /* line 627, ../sass/_style.scss */
  ::-webkit-validation-bubble-icon {
    background-image: none;
  }

  /* line 631, ../sass/_style.scss */
  #largeph {
    border-radius: 50%;
    border: 10px solid #1485cc;
    width: 30%;
    height: 30%;
    margin: 5%;
    margin-left: 10%;
    margin-top: 7%;
    float: left;
  }

  /* line 644, ../sass/_style.scss */
  #grid {
    width: 500px;
    margin: 5%;
    display: block;
    position: absolute;
    margin-top: 40%;
    margin-left: 10%;
    height: 50%;
  }

  /* line 654, ../sass/_style.scss */
  #grid img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 3%;
  }

  /* line 661, ../sass/_style.scss */
  #description {
    float: right;
    width: 40%;
    margin: 5%;
    margin-right: 7%;
  }

  /* line 668, ../sass/_style.scss */
  #description p {
    margin-top: 3%;
    font-size: 15px;
  }

  /* line 673, ../sass/_style.scss */
  #description h2 {
    font-size: 30px;
    font-family: 'Muli', Tahoma, sans-serif;
    text-align: center;
    border-bottom: 1px solid #f7f7f5;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }

  /* line 682, ../sass/_style.scss */
  #description .weblink {
    text-align: center;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #1485cc;
    height: 50px;
  }

  /* line 691, ../sass/_style.scss */
  .itemwrapper {
    width: 100%;
  }

  /* line 695, ../sass/_style.scss */
  #images {
    width: 398px;
    height: 398px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 10px solid #f7f7f5;
    margin: 5%;
    margin-left: 10%;
    margin-top: 9%;
    float: left;
    overflow: hidden;
    position: relative;
  }

  /* line 710, ../sass/_style.scss */
  #images img {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
  }

  /* line 723, ../sass/_style.scss */
  #images img:target {
    z-index: 9;
    opacity: 1;
  }

  /* line 727, ../sass/_style.scss */
  #images img:first-child {
    opacity: 1;
  }

  /* line 731, ../sass/_style.scss */
  #grid a img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /* For Webkit browsers */
    filter: gray;
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    /* Transition for Webkit browsers */
  }

  /* line 738, ../sass/_style.scss */
  #grid a img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
  }
}
@media all and (orientation: portrait) and (max-width: 240px) {
  /* line 745, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header4.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
  }

  /* line 751, ../sass/_style.scss */
  .round {
    margin-top: 30%;
    padding: 7% 12%;
    padding-bottom: 13%;
  }

  /* line 757, ../sass/_style.scss */
  .round h1 {
    font-size: 30px;
    padding-bottom: 5px;
  }

  /* line 762, ../sass/_style.scss */
  .round h2 {
    font-size: 16px;
  }

  /* line 766, ../sass/_style.scss */
  .round p {
    font-size: 11px;
  }

  /* line 770, ../sass/_style.scss */
  .squarewrapper {
    height: 100%;
  }

  /* line 774, ../sass/_style.scss */
  .square {
    height: 50%;
    margin-top: 60%;
  }

  /* line 779, ../sass/_style.scss */
  .square #mobilevisible {
    font-size: 9px;
    width: 100%;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-bottom: 0px;
  }

  /* line 786, ../sass/_style.scss */
  .ch-item {
    width: 180px;
    height: 180px;
    margin-bottom: 10%;
  }

  /* line 791, ../sass/_style.scss */
  .ch-img-1 {
    margin-top: 10%;
  }

  /* line 795, ../sass/_style.scss */
  .ch-img-5 {
    margin-bottom: 100px;
  }

  /* line 799, ../sass/_style.scss */
  #map-canvas {
    height: 35%;
  }

  /* line 803, ../sass/_style.scss */
  #contactform {
    height: 110%;
    margin-top: 35%;
    width: 100%;
  }

  /* line 809, ../sass/_style.scss */
  #send {
    margin-left: 20%;
  }

  /* line 813, ../sass/_style.scss */
  #grid {
    display: none;
  }

  /* line 817, ../sass/_style.scss */
  .itemwrapper {
    height: 70%;
    margin-bottom: 100px;
  }

  /* line 822, ../sass/_style.scss */
  #social {
    display: none;
  }

  /* line 826, ../sass/_style.scss */
  #images img, #images {
    margin-top: 15%;
    margin-left: 1%;
    width: 150px;
    height: 150px;
  }

  /* line 833, ../sass/_style.scss */
  #description {
    width: 90%;
    padding-bottom: 30px;
  }

  /* line 838, ../sass/_style.scss */
  #description h2 {
    font-size: 25px;
  }

  /* line 842, ../sass/_style.scss */
  #description p {
    font-size: 12px;
    margin-top: 15%;
  }
}
@media all and (orientation: portrait) and (min-width: 241px) and (max-width: 320px) {
  /* line 849, ../sass/_style.scss */
  .circle-text {
    margin-top: 50%;
    width: 70%;
  }

  /* line 854, ../sass/_style.scss */
  .circle-text h1, .circle-text h5 {
    width: 150px;
  }

  /* line 858, ../sass/_style.scss */
  .circle-text h1 {
    font-size: 25px;
    margin-left: 11%;
    margin-bottom: 2%;
  }

  /* line 864, ../sass/_style.scss */
  .circle-text h5 {
    margin-left: 5%;
    margin-right: 9%;
    font-size: 15px;
  }

  /* line 870, ../sass/_style.scss */
  .ch-grid {
    margin-top: 20%;
    margin-left: 13%;
  }

  /* line 875, ../sass/_style.scss */
  .ch-item {
    width: 200px;
    height: 200px;
  }

  /* line 880, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header3.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
  }

  /* line 886, ../sass/_style.scss */
  #grid {
    display: none;
  }

  /* line 888, ../sass/_style.scss */
  #images img, #images {
    width: 150px;
    height: 150px;
    margin-top: 17%;
  }

  /* line 894, ../sass/_style.scss */
  #images {
    margin-left: 25%;
  }

  /* line 898, ../sass/_style.scss */
  .itemwrapper {
    height: 70%;
    margin-bottom: 100px;
  }

  /* line 903, ../sass/_style.scss */
  #social {
    display: none;
  }

  /* line 907, ../sass/_style.scss */
  #description {
    width: 90%;
    padding-bottom: 30px;
  }

  /* line 912, ../sass/_style.scss */
  #description h2 {
    font-size: 25px;
  }

  /* line 916, ../sass/_style.scss */
  #description p {
    font-size: 12px;
    margin-top: 15%;
  }
}
@media all and (orientation: portrait) and (orientation: portrait) and (min-height: 300px) and (max-height: 400px) {
  /* line 923, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header1.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
  }

  /* line 931, ../sass/_style.scss */
  .square {
    height: 50%;
    margin-top: 70%;
  }

  /* line 936, ../sass/_style.scss */
  .square #mobilevisible {
    font-size: 10px;
    width: 100%;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-bottom: 0px;
  }

  /* line 943, ../sass/_style.scss */
  .ch-img-1 {
    margin-top: 20%;
  }

  /* line 947, ../sass/_style.scss */
  .ch-item {
    margin-bottom: 10%;
  }

  /* line 951, ../sass/_style.scss */
  #map-canvas {
    height: 40%;
  }

  /* line 955, ../sass/_style.scss */
  #contactform {
    height: 90%;
    margin-top: 40%;
    width: 100%;
  }

  /* line 961, ../sass/_style.scss */
  #send {
    margin-left: 20%;
  }

  /* line 965, ../sass/_style.scss */
  #grid {
    display: none;
  }
}
@media all and (orientation: portrait) and (max-width: 320px) {
  /* line 970, ../sass/_style.scss */
  .square {
    width: 100%;
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 5%;
  }

  /* line 977, ../sass/_style.scss */
  .square h1 {
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #f7f7f5;
    padding: 5px;
    margin: 5px;
  }

  /* line 985, ../sass/_style.scss */
  .square p, .square a {
    display: none;
  }

  /* line 989, ../sass/_style.scss */
  #title h2 {
    padding-top: 14%;
  }

  /* line 994, ../sass/_style.scss */
  #map {
    height: 110%;
  }

  /* line 998, ../sass/_style.scss */
  #grid {
    display: none;
  }
}
@media all and (orientation: portrait) and (max-width: 321px) and (min-height: 401px) and (max-height: 480px) {
  /* line 1002, ../sass/_style.scss */
  .square {
    width: 100%;
    height: 50%;
    margin-top: 75%;
    font-family: 'Muli', Tahoma, sans-serif;
  }

  /* line 1009, ../sass/_style.scss */
  .square h1 {
    font-size: 16px;
  }

  /* line 1013, ../sass/_style.scss */
  .square #mobilevisible {
    font-size: 12px;
  }

  /* line 1017, ../sass/_style.scss */
  .ch-grid {
    margin: 1%;
    margin-top: 10%;
  }

  /* line 1022, ../sass/_style.scss */
  .ch-item {
    width: 140px;
    height: 140px;
    margin: 1%;
  }

  /* line 1028, ../sass/_style.scss */
  .ch-info h3 {
    margin: 0px;
    margin-left: 25px;
    margin-top: -10px;
  }

  /* line 1034, ../sass/_style.scss */
  .ch-info p {
    margin: 0px;
    margin-top: -100px;
    margin-left: -30px;
    border-top: 0px;
  }

  /* line 1041, ../sass/_style.scss */
  #title p {
    margin-top: 5%;
    padding-bottom: 15%;
  }

  /* line 1046, ../sass/_style.scss */
  #grid {
    display: none;
  }
}
@media all and (orientation: portrait) and (orientation: portrait) and (min-width: 322px) {
  /* line 1050, ../sass/_style.scss */
  .circle-text {
    margin-top: 40%;
    width: 60%;
  }

  /* line 1055, ../sass/_style.scss */
  .circle-text h1, .circle-text h5 {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1061, ../sass/_style.scss */
  .circle-text h1 {
    font-size: 27px;
  }

  /* line 1065, ../sass/_style.scss */
  .circle-text h5 {
    font-size: 17px;
  }

  /* line 1069, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header3.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
  }

  /* line 1075, ../sass/_style.scss */
  #title {
    padding-bottom: 0%;
  }

  /* line 1079, ../sass/_style.scss */
  #title h2 {
    font-size: 20px;
    padding-top: 10%;
  }

  /* line 1084, ../sass/_style.scss */
  #title p {
    font-size: 100%;
    padding: 3%;
  }

  /* line 1090, ../sass/_style.scss */
  .ch-grid {
    margin: 1%;
    margin-top: 10%;
  }

  /* line 1095, ../sass/_style.scss */
  .ch-item {
    width: 140px;
    height: 140px;
    margin: 1%;
  }

  /* line 1101, ../sass/_style.scss */
  .ch-info h3 {
    margin: 0px;
    margin-left: 25px;
    margin-top: -10px;
  }

  /* line 1107, ../sass/_style.scss */
  .ch-info p {
    margin: 0px;
    margin-top: -100px;
    margin-left: -30px;
    border-top: 0px;
  }

  /* line 1114, ../sass/_style.scss */
  #title p {
    margin-top: 5%;
    padding-bottom: 15%;
  }
}
@media all and (orientation: portrait) and (min-width: 599px) {
  /* line 1122, ../sass/_style.scss */
  #mobilenav ul .sel {
    border-top: 4px solid #1485cc;
    padding-top: 0px;
  }
}
@media only all and (orientation: portrait) and (min-width: 600px) {
  /* line 1218, ../sass/_style.scss */
  .circle-text {
    margin-top: 10%;
    width: 50%;
  }

  /* line 1223, ../sass/_style.scss */
  .circle-text h1, .circle-text h5 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1229, ../sass/_style.scss */
  .circle-text h1 {
    font-size: 40px;
  }

  /* line 1233, ../sass/_style.scss */
  .circle-text h5 {
    font-size: 25px;
  }

  /* line 1237, ../sass/_style.scss */
  .wrapper {
    position: relative;
    width: 100%;
    margin: auto;
  }

  /* line 1243, ../sass/_style.scss */
  .navwrapper {
    background: #f7f7f5;
    width: 100%;
    height: 40px;
    position: relative;
  }

  /*position navigation ipad*/
  /* line 1251, ../sass/_style.scss */
  #mobilenav {
    margin: 0 auto;
    width: 600px;
    height: 32px;
    position: relative;
    font-size: 120%;
  }

  /* line 1259, ../sass/_style.scss */
  .logo {
    position: absolute;
    z-index: 9999;
    left: 42%;
    width: 65px;
    height: 70px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background-color: #f7f7f5;
  }

  /* line 1271, ../sass/_style.scss */
  .logo img {
    padding-left: 3px;
    padding-top: 8px;
  }

  /* line 1276, ../sass/_style.scss */
  #mobilenav ul {
    padding-left: 6%;
  }

  /* line 1280, ../sass/_style.scss */
  #mobilenav li {
    display: inline;
  }

  /* line 1284, ../sass/_style.scss */
  #mobilenav li a {
    float: left;
    border: none;
    padding: 0 20px;
    padding-top: 10px;
    height: 30px;
  }

  /* line 1292, ../sass/_style.scss */
  #mobilenav li .special {
    margin-left: 180px;
  }

  /* line 1296, ../sass/_style.scss */
  #btncolor {
    display: none;
  }

  /* line 1300, ../sass/_style.scss */
  #topnav {
    position: relative;
  }

  /* line 1304, ../sass/_style.scss */
  .round p {
    font-size: 30px;
  }

  /*.round h1 {
  	font-size: 90px;
  	margin: 0em;
  	padding: 0em;
  }*/
  /*.round h2 {
  	font-size: 30px;
  	margin: 0em;
  	padding: 0em;
  }*/
  /* line 1321, ../sass/_style.scss */
  .square h1, .square h2, .square p {
    width: 200px;
  }

  /* line 1325, ../sass/_style.scss */
  #contactform {
    margin-top: 0%;
    width: 35%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    position: relative;
    z-index: 500;
    float: right;
  }

  /* line 1335, ../sass/_style.scss */
  footer {
    display: inline;
    height: 2em;
  }

  /* line 1340, ../sass/_style.scss */
  footer p {
    float: left;
    padding-top: 3px;
  }

  /* line 1345, ../sass/_style.scss */
  #index footer p {
    padding-top: -10px;
  }

  /* line 1349, ../sass/_style.scss */
  footer #social {
    float: right;
    margin-right: 6%;
    margin-top: -4px;
  }

  /* line 1355, ../sass/_style.scss */
  #index footer #social {
    margin-top: -10px;
  }

  /* line 1359, ../sass/_style.scss */
  footer #social img {
    width: 25px;
    height: 25px;
  }

  /* line 1364, ../sass/_style.scss */
  #largeph {
    width: 200px;
    height: 200px;
    margin-top: 10%;
  }

  /* line 1370, ../sass/_style.scss */
  .itemwrapper {
    height: 70%;
    margin-bottom: 100px;
  }

  /* line 1375, ../sass/_style.scss */
  #description {
    width: 35%;
    padding-bottom: 30px;
  }

  /* line 1380, ../sass/_style.scss */
  #description h2 {
    font-size: 25px;
  }

  /* line 1384, ../sass/_style.scss */
  #description p {
    font-size: 12px;
    margin-top: 30px;
  }

  /* line 1390, ../sass/_style.scss */
  #images {
    margin-left: 7%;
  }

  /* line 1394, ../sass/_style.scss */
  #images, #images img {
    width: 250px;
    height: 250px;
  }

  /* line 1399, ../sass/_style.scss */
  #grid {
    width: 40%;
    margin: 5%;
    display: block;
    position: absolute;
    margin-top: 320px;
    margin-left: 10%;
    height: 50%;
  }
}
@media all and (orientation: portrait) {
  /* iPad (landscape) ----------- */
  /* line 1980, ../sass/_style.scss */
  ul.tabs {
    margin: 0px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0px;
    list-style: none;
    font-family: 'Muli';
  }

  /* line 1989, ../sass/_style.scss */
  ul.tabs li a {
    font-family: 'Muli';
    color: #212121;
    text-decoration: none;
  }

  /* line 1994, ../sass/_style.scss */
  ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  /* line 2002, ../sass/_style.scss */
  ul.tabs li.current {
    background: #ededed;
    color: #222;
  }

  /* line 2007, ../sass/_style.scss */
  .tab-content {
    display: none;
  }

  /* line 2011, ../sass/_style.scss */
  .tab-content.current {
    display: inherit;
  }

  /* line 2015, ../sass/_style.scss */
  .rain {
    background-color: #1abc9c;
  }

  /* line 2019, ../sass/_style.scss */
  .rain .container {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
  }
}
/*partials*/
/* line 2, ../sass/partials/_typography.scss */
.navbar a {
  font-family: "Anaheim", Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 17px;
}

/* line 9, ../sass/partials/_typography.scss */
.white-text {
  color: #f7f7f5;
}

/* line 13, ../sass/partials/_typography.scss */
.black-text {
  color: #212121;
}

/* line 1, ../sass/partials/_menu.scss */
.navbar {
  background: #f7f7f5;
  width: 100%;
  height: 40px;
}
/* line 6, ../sass/partials/_menu.scss */
.navbar .navwrapper {
  display: block;
  margin: 0 auto;
  width: 55%;
}
/* line 13, ../sass/partials/_menu.scss */
.navbar ul li {
  float: left;
  padding: 10px 45px;
  list-style: none;
}
/* line 18, ../sass/partials/_menu.scss */
.navbar ul li:not(.logo):hover, .navbar ul li:not(.logo):focus {
  background: #1485cc;
}
/* line 20, ../sass/partials/_menu.scss */
.navbar ul li:not(.logo):hover a, .navbar ul li:not(.logo):focus a {
  color: #f7f7f5;
}
/* line 25, ../sass/partials/_menu.scss */
.navbar ul li a {
  text-decoration: none;
  color: #212121;
}
/* line 31, ../sass/partials/_menu.scss */
.navbar ul .sel {
  border-top: 4px solid #1485cc;
  padding-top: 6px;
}
/* line 37, ../sass/partials/_menu.scss */
.navbar ul .logo div {
  width: 60px;
  height: 60px;
  border: 3px solid #f7f7f5;
  background-color: #f7f7f5;
  border-radius: 50%;
  margin-top: -5px;
}
/* line 47, ../sass/partials/_menu.scss */
.navbar ul .logo a:hover img {
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
/* line 52, ../sass/partials/_menu.scss */
.navbar ul .logo a img {
  -webkit-transition: transform 0.8s ease-out;
  -ms-transition: transform 0.8s ease-out;
  -moz-transition: transform 0.8s ease-out;
  -o-transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
}

/* line 1, ../sass/partials/_base.scss */
.bodywrapper {
  margin: 50px;
}

/*pages*/
/* line 1, ../sass/pages/_index.scss */
.home {
  background: url("../images/background/snow.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 6, ../sass/pages/_index.scss */
.bodywrapper h1, .bodywrapper p {
  text-align: center;
}
/* line 10, ../sass/pages/_index.scss */
.bodywrapper h1 {
  margin-top: 150px;
  font-family: "Fab";
}
