
/*Extend for text gradient with possiblity to add textshadow in pseudo element (:after)*/
%text-gradient{
    //background clip text only works in chrome
    -webkit-background-clip: text;
    @include prefix(text-fill-color, transparent, ms o moz webkit);
    background-color: transparent; // Old browsers
    @include filter-gradient($gradient-start, $gradient-stop, horizontal); // IE6-9
    //@include background-image(linear-gradient(left, $gradient-start -20%,$gradient-stop 100%));
    background-image: -webkit-linear-gradient(left, $gradient-start -20%,$gradient-stop 100%);
    //fallback 
    color: $gradient-start;

    &:after{
        background: none;
        content: attr(data-text);
        left: 0;
        top: 0;
        position: absolute;
        //Put text shadow behind text
        z-index: -1;
    }
}