.menu-btn{
  .burger-top{
  @include prefix(transition, 0.2s linear all, ms moz o webkit);
  transform: rotate(0deg) scale(1);
  }

  .burger-middle{
  @include prefix(transition, 0.1s linear all, ms moz o webkit);
  opacity: 1;
  }

  .burger-bottom{
  @include prefix(transition, 0.2s linear all, ms moz o webkit);
  transform: rotate(0deg) scale(1);
  }
}

.menu-btn.menu-btn-open{
  position: fixed;
  right: 0;

  .burger-top{
    transform: rotate(45deg) scale(1.3);
    top: 9px;
  }

  .burger-middle{
    opacity: 0;
  }

  .burger-bottom{
    transform: rotate(-45deg) scale(1.3);
    top: 9px;
  }
}

.full-menu {

  height: 0vh;

  .full-page{
    transform: translate(0px, -450px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include prefix(transition, 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) transform, ms moz o webkit);
    transition-delay: 1s;
  }

  .bg-part{
    transition: height 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    height: 0vh;
  }

  ul{
    transform: translate(0px, -450px);
    @include prefix(transition, transform 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) , ms moz o webkit);
  }
}

.full-menu.menu-open {
  height: 100vh;

  .full-page{
    transform: translate(0px, 0px);
    height: 100%;
    transition-delay: 0s;
  }

  .bg-part{
        height: 100vh;
      }

      $count : 0%;

      @for $i from 1 through 8{
          .bg-part:nth-child(#{$i}){ 
            left: $count;
            $count: $count + 12.5%;
        }
      } 

    ul{
       transform: translate(0px, 0px);
    }
}

.full-menu.menu-closed{
    .bg-part{
      height: 0vh;
    }  

      $count : 0%;

      @for $i from 1 through 8{
          .bg-part:nth-child(#{$i}){ 
            left: $count;
            $count: $count + 12.5%;
            //do this in javascript!!
            //transition-delay: random(9) / (10 + random(40)) +  s;
        }
      } 
}

@media (min-width: $screen-sm-max) {
  .tag-animation.ng-enter, .tag-animation.ng-leave, .tag-animation.ng-move{
      -webkit-transition: 0.4s ease-out all;
      -moz-transition: 0.4s ease-out all;
      -o-transition: 0.4s ease-out all;
      transition: 0.4s ease-out all; 
    }

  .tag-animation{
    a{
      position: relative;
    }
  }

  .tag-animation.ng-enter ,
  .tag-animation.ng-move  {
    left: -5000px;
    transform: scale(1);
    overflow: hidden;
  }


  .tag-animation.ng-move.ng-move-active ,
  .tag-animation.ng-enter.ng-enter-active {
    left: -80px;
  } 

  .tag-animation.ng-leave {
    left: -80px;
    overflow: hidden;
  }

  .tag-animation.ng-leave.ng-leave-active {
    left: -5000px;
    padding-top: 0;
    padding-bottom: 0;
  }
}