.main-grid{
	.see-more{
		@include size(50%, 25vw);
		background-color: $darkest;

		p{
			font-family: $helvetica-n-l;
			color: $light;
			font-size: 45px;
			text-transform: uppercase;
			text-align: center;
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
		}

		&:hover p{
			@extend %text-gradient;
		}
	}
}

.ghost-button{	
	@include border-gradient($gradient-start, $gradient-stop, 0px);
	display: inline-block;
	text-transform: uppercase;
	padding: 5px 50px;
	font-family: $simplifica;
	font-size: 52px;
	transition: all 0.35s cubic-bezier(0.465, 0.183, 0.153, 0.946);
	background-size: 200% 100%;
    background-image: linear-gradient(to right, $light 50%, $darkest 50%);

	a{
		@extend %text-gradient;
		&:hover, &:focus, &:active{
			text-decoration: none;
		}
	}

	&:hover{
		background-color: $darkest;
		box-shadow: none;
		background-position: -100% 0%;
	}
}

.ghost-button-white{
	@extend .ghost-button;
	background-image: linear-gradient(to right, $lightest 50%, $darkest 50%);
}