h3{
	color: $sea-green;
	font-family: $open-sans;
	font-weight:700; 
	@include vu(font-size, 4.7vw, $screen-xs-max);
	transform: skewX(165deg);
}

h4{
	color: $light;
	font-family: $simplifica;
	font-weight: 100;
	font-size: 56px;
}

h5{
	@extend h3;
	font-size: 30px;
	margin: 0;
}

h6{
	@extend h4;
	font-size: 35px;
}

.smoky-section{
	p{
		font-family: $open-sans;
		font-size: 24px;
		font-weight: 100;
		    line-height: 30px;
	}
}

blockquote{
	p{
		font-family: $simplifica;
		@include vu(font-size, 7.8vw, $screen-lg-min);
		text-transform: uppercase;
		font-style: italic;
	}

	cite{
		font-family: $helvetica-n;
		font-size: 24px;
		font-style: normal;
		text-transform: uppercase;
	}

	 &:before {
	  font-family: $simplifica;
	  font-size: 200px;
	  font-style: italic;
	  }
}

footer{
	p, .copyright{
		font-family: $open-sans;
		font-weight: 100;
	}

	.copyright{
		font-size: 13px;
	}
}

figure{
	p{
		color: $light;
		font-size: 18px;
		font-family: $helvetica-n;
	}
}

.figure-small{
	p{
		font-size: 14px;
	}
}

.about, .about-website{
	.large{
		font-family: $simplifica;
		@include vu(font-size, 7vw, $screen-md-min);
    	@include vu(line-height, 6vw, $screen-md-min);
	}

	p{
		font-family: $open-sans;
		@include vu(font-size, 1.4vw, $screen-md-min);
		font-weight: 100;
	}
}


.about{
	p{
		color: $light;
	}

	h5{
		text-align: left;
	}
}

.about-website{
	p{
		color: $darkest;
	}

	h5{
		margin-bottom: 30px;
	}
}

.portfolio{
	h3{
		text-align: center;
		@include vu(font-size, 4.3vw, $screen-md-min);

	}

	h4{
		@include vu(font-size, 5.3vw, $screen-md-min);
		@extend %text-gradient;
	}

	p{
		color: $light;
		font-family: $helvetica-n-l;
		@include vu(font-size, 1.5vw, $screen-md-min);
		text-align: left;
	}
}

.work-detail{
	h5{
		font-size: 20px;
		//display: inline-block;
		//color: $darkest;
		transform: none;
		font-weight: 100;
		text-transform: uppercase;
	}

	.services{
		p, ul{
			font-family: $open-sans;
			padding-top: 0px;
			//display: inline-block;
			//margin-left: 50px;
		}
	}
}

.contact-page{
	h3{
		@include vu(font-size, 4.3vw, $screen-md-min);
		padding-top: 100px;
		margin-bottom: 80px;
	}

	p{
		color: $darkest;
	}
}

.highlight{
	@extend %text-gradient;
	font-weight: 600;
	white-space: nowrap;
}
