.embed-nav{
	position: relative;
	top: -42px;
	width: 110%;
    left: -20px;
    height: 510px;
    overflow: hidden;
}

@media (max-width: $screen-xxs-max) {
	.embed-nav{
		width: 155%;
    	left: -150px;
	}
}