

.footer-icons{
	i{
		padding: 10px;
		font-size: 22px;
		transition: transform 0.35s;
		-webkit-font-smoothing: antialiased;

		&:hover{
			color: $gradient-stop;
			transform: rotate(20deg) scale(1.2);
		}
	}


	a{
		color: $light;

	}

	.col-md-12:first-child{
		.fa{
			padding-top: 3px; 
		}
	}
}

.about{
	.icon{
		height: 100px;
		text-align: center;
		vertical-align: middle;
		line-height: 110px;

		.fa{
			font-size: 30px;
			color: $light;
		}
	}
}

.icon-fa{
	background-color: $facebook;
}

.icon-tw{
	background-color: $twitter;
}

.icon-li{
	background-color: $linkedin;
}

.icon-pi{
	background-color: $pinterest;
}

	.icons{
		margin-top: 50px;

		.fa{
			font-size: 20px;	
			@extend %text-gradient;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			line-height: 50px;
			text-align: center;
		}

		a{
			margin-right: 25px;
			@include border-gradient($gradient-start, $gradient-stop, 0px);
			border-radius: 50%;
			display: inline-block;
			height: 50px;
			width: 50px;
			transition: all 0.35s cubic-bezier(0.465, 0.183, 0.153, 0.946);
			background-size: 200% 100%;
    		background-image: linear-gradient(to right, $light 50%, $darkest 50%);

			&:hover{
				//background-color: $darkest;
				box-shadow: none;
				transform: rotate(20deg);
				 background-position: -100% 0%;
			}
		}
	}


.about{
	.icons{
		a{
			background-image: linear-gradient(to right, $darkest 50%, $light 50%);
		}
	}
}

.info-i{
	margin-right: 20px;
	color: lighten($darkest, 15%);
	font-size: 15px;
}