.main-grid{
	@include vu(height, 50vw, $screen-md-min);
	width: 100%;
}

.img-1{
	width: 50%;
	@include vu(height, 50vw, $screen-md-min);
	display: inline-block;
	float: left;
}

.img-2, .img-3{
	width: 25%;
	@include vu(height, 25vw, $screen-md-min);
	float: left;
}

.see-more{
	width: 50%;
	@include vu(height, 25vw, $screen-md-min);
	float: left;
}

figure{
	overflow: hidden;
	position: relative;

	figcaption{
		padding: 0;
		backface-visibility: hidden;
	    position: absolute;
	    left: 0px;
	    width: 100%;
	    height: 100%; 

		&::before{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $gradient-stop;
			content: '';
			opacity: 0;
		}

		&::before, p{
			opacity: 0;
			transition: opacity 0.5s;
		}

		h4, h6{
			opacity: 0;
			position: absolute;
			text-align: center;
			width: 100%;
			color: $darkest;
			transition: opacity 0.5s;
		}

		p{
			text-align: center;
			margin-top: 2.2em; 
			padding: 2em;
			width: 100%;
			opacity: 0;
		}

		.line-large-black, .line-small-black{
			&:before, &:after{
						width: 0px;
						transition: width 0.25s ease-out;
						transition-delay: 0.3s;
			}

		}

		.company-heading{
			height: 10%;
			position: absolute;
			top: 0;
			bottom: 0;
			left:0;
		    right:0;
		    margin: auto;
		}

	}
}

.figure-small{
	.line{
		width: 12%;
	}

	.line-left, .line-right{
		top: 30px;
	}

	p{
		margin-top: 1.5em;
	}

	.company-heading{
		height: 15%;
	}
}

.logo, .work-detail .logo{
	width: initial;
	height: initial;
}

.work-detail{
	img{
		float: left;
		@include size(50%, 50vw);
	}

	.logo{
		text-align: center;
		display: inline-block;
		float: initial;
		margin: 0 auto;
	}
}

.ie{
	.work-detail{
		.logo{
			width: 200px;
			height: auto;
		}
	}
}

.saf{
	.about .img-1{
		height: 100%;
	}
}