@media (min-width: $screen-sm-min) {  }


@media (min-width: $screen-xl-min) { 
	.menu .full-menu ul li{
		@include vu(font-size, 6vw, $screen-xl-min);
	}

	.embed-nav{
		height: 1400px !important;
	}

	.no-column .what-service{
		@include vu(font-size, 1.5vw, $screen-xl-min);
	}

	.smoky-section p{
		@include vu(font-size, 1.5vw, $screen-xl-min);
		line-height: initial;
	}

	.company-heading{
		h4{
			font-size: 100px;
			font-size: 4.5vw;
		}
		h6{
			font-size: 90px;
			font-size: 3.5vw;
		}
		p{
			@include vu(font-size, 1.5vw, $screen-xl-min);
		}
	}

	.see-more p{
		font-size: 100px !important;
		font-size: 3.5vw !important;
	}

	.services{
		h5{
			@include vu(font-size, 1.5vw, $screen-xl-min);
		}
		p{
			@include vu(font-size, 1.5vw, $screen-xl-min);
		}
	}

	.website{
		.ghost-button-white{
			@include vu(font-size, 3vw, $screen-xl-min);
		}
	}

	footer{
		h5{
			font-size: 47px;
		}

		p{
			@include vu(font-size, 1.0vw, $screen-xl-min);
		}

		.copyright{
			font-size: 30px;
		}
	}

	.footer-icons i{
		font-size: 47px;
	}

	.job-position{
		left: 47% !important;
		top: 70% !important;
	}

	.contact-container, .container{
		max-width: 1700px;
		width: initial !important;
	}

	blockquote{
		p{
			font-size: 2.5vw;
		}
	}

	.contact-page{
		h3{
			@include vu(font-size, 2.5vw, $screen-xl-min);
		}
	}

	.work-filter{
		line-height: 130px;

		a{
			font-size: 45px;
		}

		span{
			display: none;
		}
	}


	.description-card h4{
		@include vu(font-size, 3.3vw, $screen-xl-min);
	}

	.about .skills ul li{
		@include vu(font-size, 1.5vw, $screen-xl-min);
	}

	.about, .about-website{
		h5{
			@include vu(font-size, 2vw, $screen-xl-min);
		}
	}
 }

 @media (min-width: $screen-lg-min) { 
	.job-position{
		left: 43%;
		top: 68%;
	}
 }

@media (max-width: $screen-md-max) { 
	header{
		h1{
			@include vu(font-size, 16vw, $screen-md-max);
		}

		h2{
		    @include vu(font-size, 3vw, $screen-md-max);
		}
	}

	h4{
		@include vu(font-size, 4vw, $screen-md-max);
	}

	h6{
		@include vu(font-size, 2.7vw, $screen-md-max);
	}

	.main-grid .see-more p{
		font-size: 4vw;
	}

	.container-sm{
		width: 50%;
	}

	.container-sm-2{
		width: 70%;
	}

	.badge-job{
		@include size(120px);

		p{
			font-size: 20px;
			padding: 18px 10px 10px 7px;
		}
		span{
			font-size: 32px;
		}
	}

	.job-position{
		left: 45%;
	}
 }

 @media (max-width: $screen-sm-max) { 
 	.about{
 		.img-1{
 			display: none;
 		}
 		header{
 			display: block;
 		}

 		.description{
 			width: 100%;

 			p{
 				@include vu(font-size, 1.7vw, $screen-sm-max);
 			}

 			.large{
 				@include vu(font-size, 7vw, $screen-sm-max);
 				@include vu(line-height, 7vw, $screen-sm-max);
 			}
 		}
 	}

 	.badge-job{
 		display: none;
 	}

 	.about-website{
		p{
			@include vu(font-size, 2.5vw, $screen-sm-max);
		}
	}

	.portfolio{
		p{
			@include vu(font-size, 2vw, $screen-sm-max);
		}
	}

	.work{
		.description-card{
			hr{
				margin: 0px 100px 20px 0px;
			}
		}
	}

	.contact-page{
		.contact-container{
			width: 75%;
		}
	}

	.no-column{
		.ghost-button{
			@include vu(font-size, 5vw, $screen-sm-max);
		}
	}
  }

 @media (max-width: $screen-xs-max) {
 	.menu .full-menu ul li {
 		font-size: 3.5em;
 	}

	header{
		h1{
			@include vu(font-size, 18vw, $screen-xs-max);
		}

		h2{
			@include vu(font-size, 5vw, $screen-xs-max);
		}
	}

	footer{
		text-align: center;

		h5{
			margin-bottom: 30px;
		}

		p{
			padding-bottom: 15px;
		}

		.contact-message{
			padding-left: 15px;
		}

		.footer-icons-right{
			text-align: left;
		}

		.copyright {
			padding-top: 15px;
		}
	}

	.container-sm, .container-sm-2{
		width: 70%;

		.main-heading{
			h3{
				@include vu(font-size, 6vw, $screen-xs-max);
			}
		}
	}

	.main-grid{

		figure{

				h4, h6{
						opacity: 1;
						color: $darkest;

						&:before, &:after{
							display: none;
						}
				}


				p{
						opacity: 1;
						margin-top: 2.5em;
						font-size: 14px;
				}

				figcaption{
					height: 100%;
					position: relative;
				}

				figcaption::before{
						opacity: 0.7;
				}

				.line-large-black{
						&:before, &:after{
							width: 10%;
						}
				}

				.line-small-black{
						&:before, &:after{
							width: 20px;
						}
				}

				.company-heading{
					top: 30%;
					height: initial;
				}
			}

	}

	.about{
		.container{
			width: initial;
		}

		.description{
			height: initial;

			p{
				@include vu(font-size, 3.5vw, $screen-xs-max);
			}

			.large{
				@include vu(font-size, 9vw, $screen-xs-max);
				@include vu(line-height, 9vw, $screen-xs-max);
			}
		}

		.skills{
			margin: 0 auto;
				text-align: center;
			div + div ul{
				margin-top: -10px;
			}

			h5{
				margin-top: 15px;
				margin-bottom: -10px;
				text-align: center;
			}

			div{
				ul{
					display: inline-block;
					text-align: left;
				}
			}
		}
	}

	.badge-job{
		display: none;
	}

	.about-website{
		p{
			@include vu(font-size, 3.9vw, $screen-xs-max);
		}
	}

	.portfolio{
		h4{
			@include vu(font-size, 6.4vw, $screen-xs-max);
		}
	}

	.work-filter{

			a{
				@include vu(font-size, 3vw, $screen-xs-max);

				&.active, &:hover{
					span{
						top: 38px;
					}
				}
			}
		}

	.work{
		.description-card{
			hr{
				display: none;
			}

			p{
				display: none;
			}
		}
	}

	.work-detail{
		h2{
			@include vu(font-size, 4.2vw, $screen-sm-max);
		}

		.logo{
			width: 25vw;
		}
	}

	.column{
		margin: 15% 5%;

		p{
			@include vu(font-size, 3.5vw, $screen-xxs-min);
		}
	}

	.service-container{
		padding-top: 50px;

		.ghost-button-white{
			margin-top: 50px;
		}
	}

	.services{
		padding-top: 0;



		.service-part{
			width: 60%;
    		margin: 0 auto 25px auto;
		}
	}

	blockquote{

		&:before{
			@include vu(font-size, 15vw, $screen-xxs-min);
		}

		p{
			@include vu(font-size, 10vw, $screen-xxs-min);
			
		}

		cite{
			margin-left: -15px;
			@include vu(font-size, 5vw, $screen-xxs-min);
		}
	}

	.quote-wrapper{
		margin-left: 15px;
	}

	.contact-page{
		h3{
		 	@include vu(font-size, 7vw, $screen-xxs-min);
		 	text-align: center;
    		margin-left: 22px;

			&:before, &:after{
				display: none;
			}
		}
		.contact-container{
			width: 90%;

			.icons{
				text-align: center;
			}

			form{
				margin-top: 50px;

				.ghost-button{
					@include vu(font-size, 7vw, $screen-xxs-min);
				}
			}
		}
	}

 }

 @media all and (max-width: $screen-xs-max) and (min-width: $screen-xxs-max) {
		.figure-small{
			.company-heading{
				top: 20%;
			}

			figcaption{
				&:before{
					opacity: 0.9;
				}
			}
		}
			h4{
				font-size: 45px;
			}

		h6{
			font-size: 25px;

			& + p{
				display: none;
			}

		}

		.skills{
			ul{
				width: 30%;
			}
		}
}

 @media (max-width: $screen-xxs-max) { 
 	h6, h4{
 		@include vu(font-size, 15vw, $screen-xxs-max);
 	}

	header{
		h1{
			@include vu(font-size, 25vw, $screen-xxs-max);;
		}

		h2{
			@include vu(font-size, 6vw, $screen-xxs-max);
		}
	}

	.container-sm, .container-sm-2{
		width: 90%;

		.main-heading{
			h3{
				@include vu(font-size, 13vw, $screen-xs-max);

				&:before, &:after{
					display: none;
				}
			}

		}
	}

	.smoky-section p{
		font-size: 22px;
	}

	.main-grid{
		height: 350vw;
		width: 100%;

		figure{
			@include size(100%, 100vw);

			h4, h6{
					opacity: 1;
					color: $darkest;
			}

			p{
					opacity: 1;
					margin-top: 2.5em;
					font-size: 14px;
			}

			figcaption{
				height: 100%;
				position: relative;
			}

			figcaption::before{
					opacity: 0.5;
			}

			.line-large-black{
					&:before, &:after{
						width: 10%;
					}
			}

			.line-small-black{
					&:before, &:after{
						width: 20px;
					}
			}

			.company-heading{
				top: 40%;
				height: initial;
			}
		}

		.see-more{
			@include size(100%, 50vw);

			p{
				@include vu(font-size, 7vw, $screen-xxs-max);
			}
		}
	}

	.about{
		.container{
			width: initial;
		}

		.description{
			height: initial;
			p{
				@include vu(font-size, 5vw, $screen-xxs-max);
			}

			.large{
				@include vu(font-size, 15vw, $screen-xxs-max);
				@include vu(line-height, 15vw, $screen-xxs-max);
			}
		}

		.icons{
			a{
				margin-right: 5%;
			}
		}

		.skills{
			h5{
				margin: 30px 0;
			}

			ul{
				margin: 0;
				width: 40%;
			}

			div + div ul{
				margin-top: -5px;
			}

			div{
				padding-left: 0px;
			}
		}

		.container{
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.about-website{
			p{
				font-size: 18px;
				font-size: 5.4vw;
			}
	}

	.portfolio{
		h3{
			@include vu(font-size, 7vw, $screen-xxs-max);
		}

		h4{
			@include vu(font-size, 5.9vw, $screen-xxs-max);
			font-weight: 700;
		}

		p{
			display: none;
		}

		.work-filter{

			a{
				@include vu(font-size, 4vw, $screen-xxs-max);

				&.active, &:hover{
					span{
						top: 38px;
					}
				}
			}
		}
	}

	.work-left, .work-right{
		width: 50%;
	}

	.work{
		.description-card{
			margin-top: 0;
			z-index: 0;

			hr{
				display: none;
			}
		}
	}

	.work-detail{
		h2{
			@include vu(font-size, 6.2vw, $screen-xxs-min);
		}
	}

	.column{
		margin: 15% 5%;

		p{
			@include vu(font-size, 5vw, $screen-xxs-min);
		}
	}

	.services{
		.service-part{
			width: 80%;
		}
	}

	.ghost-button-white{
		@include vu(font-size, 10vw, $screen-xxs-min);
	}

	.work-detail{
		img{
			width: 100%;
			height: 100vw;
		}
	}

	blockquote{

		&:before{
			font-size: 15vw;
		}

		p{
			@include vu(font-size, 10vw, $screen-xxs-min);
			font-weight: 700;
		}

		cite{
			@include vu(font-size, 5vw, $screen-xxs-min);
			margin-left: -15px;
		}
	}

	.quote-wrapper{
		margin-left: 15px;
	}

	.contact-page{
		h3{
			@include vu(font-size, 9vw, $screen-xxs-min);
			margin-bottom: 50px;
			margin-top: 0px;
    		padding-top: 80px;
		}

		.line-before-after{
			&:before, &:after{
				display: none;
			}
		}

		.contact-container{
			width: 100%;

			.info-text{
				text-align: center;
			}

			.info-icon, .info-icon a {
				font-size: 20px;
			}

			form{
				.ghost-button{
					@include vu(font-size, 9vw, $screen-xxs-min);
				}

				label{
					font-size: 14px;
				}
			}

			.icons{
				a{
					margin-right: 5%;
				}
			}
		}
	}

	.no-column{
		.ghost-button{
			@include vu(font-size, 9vw, $screen-xxs-min);
		}
	}

	.column{
		@include prefix("column-count", "1", ms moz webkit o);
	}

	.work-detail .services{
		h5{
			@include vu(font-size, 5vw, $screen-xxs-min);
		}
		p{
			@include vu(font-size, 3.5vw, $screen-xxs-min);
		}
	}
 }


@media (min-width: $screen-xxs-min) {
	.main-grid{
		figure{
			&:hover{
				h4, h6{
					opacity: 1;
					color: $darkest;
				}

				p{
					opacity: 1;
				}

				figcaption::before{
					opacity: 0.7;	
				}

				.line-large-black{
					&:before, &:after{
						width: 10%;
					}
				}

				.line-small-black{
					&:before, &:after{
						width: 20px;
					}
				}
			}
		}
	}
}
