<div ng-controller="AboutCtrl" class="about">
	
	<header class="about-header">
	  <h1 data-text="About">About</h1>
	  <h6 data-text="Behind the scenes">Behind the scenes</h6>
	</header>

	  <div class="job-position" ng-class="{'hidden': open, 'badge badge-job': !open}">
		<p><span>Job</span><br>wanted!</p>
	  </div>

	<section class="container-fluid about-container">
		<div class="row">
			<div class="col-md-8 description smoky-section"> 
				<p>Clara Rua, 20y/o, I’m currently a 3rd year student involved in HETIC, an IT school based in Paris. I blossom everyday, in mastering my skills as a designer, creative thinker and web child in general. </p>
				<p>I’m an eager-to-learn person, in life as in my work, lead by an insatiable curiosity, sometimes driven by some crazy ideas. I believe there is always a way, whether classical or eccentric, in freedom as in restrictions, to bring more comfort, pleasure and satisfaction to the user, both in regard to the substance and the form of any project.</p>
			</div>
			<div class="col-md-4 skills">
				<div class="col-md-12 skills-list">
					<h3>Skills</h3>
					<ul>
						<li>HTML(5) / CSS3</li>
						<li>JS / JQuery</li>
						<li>GSAP / SVG</li>
						<li>PHP / laravel</li>
						<li>Photoshop</li>
						<li>Illustrator</li>
					</ul>
				</div>
				<div class="col-md-3 icon icon-fa"><i class="fa fa-facebook"></i></div>
				<div class="col-md-3 icon icon-tw"><i class="fa fa-twitter"></i></div>
				<div class="col-md-3 icon icon-li"><i class="fa fa-linkedin"></i></div>
				<div class="col-md-3 icon icon-pi"><i class="fa fa-pinterest"></i></div>
			</div>
		</div>
	</section>

	<div class="white-section">
	<section class="container">
		<blockquote>
			<p>Design is how it works</p><br>
			<!--cite handwritten svg? -->
			<cite>- Steve Jobs -</cite>
		</blockquote>
	</section>
</div>
</div>