<section ng-controller="AboutCtrl" class="about container-fluid">
	<header></header>
	<img src="../images/joke3.jpg" class="img-1">
	<div class="description">
		<div class="inner">	
			    <p class="highlight large">Hi,</p>
				<p>Clara Rua, 20y/o, I’m currently a 3rd year <span class="highlight">student</span> involved in HETIC, an IT school based in 				Paris. I blossom everyday, in mastering my skills as a designer, creative thinker and web child in general. </p>
				<p>I’m an eager-to-learn person, in life as in my work, lead by an <span class="highlight">insatiable curiosity</span>, sometimes driven by some crazy ideas. I believe there is always a way, whether classical or eccentric, in freedom as in restrictions, to bring more <span class="highlight">comfort</span>, pleasure and satisfaction to the user, both in regard to the substance and the form of any project.</p>
				<div class="icons">
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-pinterest"></i></a>
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
				</div>
		</div>
	</div>
</section>

	  <div class="job-position" ng-class="{'hidden': open, 'badge badge-job': !open}">
		<p><span>Job</span><br>wanted!</p>
	  </div>

<section class="smoky-section about">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12 skills">
				<h5>Key skills</h5>
				<div class="col-sm-4">
					<ul>
						<li>HTML</li>
						<li>CSS3</li>
						<li>Sass</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<ul>
						<li>PHP - laravel</li>
						<li>jquery</li>
						<li>javascript</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-xs-12 skills">
				<h5>Additional skills</h5>
				<div class="col-sm-6">
					<ul>
						<li>Photoshop</li>
						<li>Illustrator</li>
						<li>AngularJS</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul>
						<li>Git</li>
						<li>Bootstrap</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="white-section about-website">
	<section class="container">
		<h5>About this website</h5>
		<p>This site has been designed and built by hand from the ground up. It's handled through AngularJS and animated with the fantastic GreenSock Animation Platform.</p>
		<p>
		The CSS is written in Sass, with a <span class="highlight">mobile first approach</span> and this modular scale for a more meaningful typography.
		</p>
	</section>
</div>