<header ng-controller="MainCtrl" class="main-header">
  <h1 data-text="Joke Gysen">Joke Gysen</h1>
  <h2 data-text="Front-end developer">Front-end developer</h2>
</header>
<div class="smoky-section">
	<section class="container-sm">
		<div class="main-heading">
			<div class="line line-left"></div>
			<h3>Who I am</h3>
			<div class="line line-right"></div>
		</div>
		<p>Hello internet, my name is Joke Gysen.
			I’m a 20-something year old, born and raised in 
			Belgium. I’m currently living in Brussels and 
			working at Reading Room as a UX Developer.</p>
	</section>
</div>
<div class="white-section">
	<section class="container-sm-2">
		<div class="main-heading">
			<div class="line line-left"></div>
			<h3>Recent work</h3>
			<div class="line line-right"></div>
		</div>
	</section>
	<div class="main-grid">
		<a href="#">
			<figure class="img-1">
				<img src="../images/masked-woman.jpg" class="grid">
				<figcaption>
					<div class="company-heading">
						<div class="line line-left"></div>
						<h4>Company Name</h4>
						<div class="line line-right"></div>
						<p>Redesign</p>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="#">
			<figure class="img-2 figure-small">
				<img src="../images/camera.jpg" class="grid">
				<figcaption>
					<div class="company-heading">
						<div class="line line-left"></div>
						<h6>Company Name</h6>
						<div class="line line-right"></div>
						<p>Redesign</p>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="#">
			<figure class="img-3 figure-small">
				<img src="../images/london.jpg" class="grid">
				<figcaption>
					<div class="company-heading">
						<div class="line line-left"></div>
						<h6>Company Name</h6>
						<div class="line line-right"></div>
						<p>Redesign</p>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="#"><div class="grid see-more"><p>See all projects</p></div></a>
	</div>
</div>
<div class="white-section">
	<section class="container">
		<blockquote>
			<p>Design is how it works</p><br>
			<!--cite handwritten svg? -->
			<cite>- Steve Jobs -</cite>
		</blockquote>
	</section>
</div>