<header ng-controller="MainCtrl" class="main-header">
  <h1 data-text="Joke Gysen">Joke Gysen</h1>
  <h2 data-text="Front-end developer">Front-end developer</h2>
</header>
<div class="smoky-section">
	<section class="container-sm">
		<div class="main-heading">
			<h3 class="line-large-green">Who I am</h3>
		</div>
		<p>Hello there, my name is Joke Gysen, i’m a self-taught front end developer, located in Brussels. I have a passion for the web, sass, svg, animation and responsive design. I’m currently looking for a <span class="highlight">fulltime job</span>.
 Please take a look at my portfolio and hopefully we can chat!</p>
	</section>
</div>
<div class="white-section">
	<section class="container-sm-2">
		<div class="main-heading">
			<h3 class="line-large-green">Recent work</h3>
		</div>
	</section>
	<div class="main-grid" ng-controller="MainCtrl">

		<!-- add ng-if for class names? inside ng-repeat? -->
		<a ng-repeat="work in grid" href="{{work.website}}"  >
				<figure ng-if="work.id == 'Vggie'" class="img-1">
					<img  ng-src="{{work.imageUrl}}" class="grid">
					<figcaption>
						<div class="company-heading">
							<h4 class="line-large-white">{{work.name}}</h4>
							<p>{{work.description}}</p>
						</div>
					</figcaption>
				</figure>

			<figure ng-if="work.id == 'StartupBasecamp'" class="img-2 figure-small">
				<img  ng-src="{{work.imageUrl}}" class="grid">
				<figcaption>
					<div class="company-heading">
						<h6 class="line-small-white">{{work.name}}</h6>
						<p>{{work.description}}</p>
					</div>
				</figcaption>
			</figure>

			<figure ng-if="work.id == 'Oleaz'" class="img-3 figure-small">
				<img  ng-src="{{work.imageUrl}}" class="grid">
				<figcaption>
					<div class="company-heading">
						<h6 class="line-small-white">{{work.name}}</h6>
						<p>{{work.description}}</p>
					</div>
				</figcaption>
			</figure>
		</a>
		<a href="#/portfolio"><div class="grid see-more"><p>See all projects</p></div></a>
	</div>
</div>
<div class="white-section" ng-controller="quotesCtrl">
	<section class="container">
		<blockquote>
			<p>{{quote}}</p><br>
			<!--cite handwritten svg? -->
			<cite>- Steve Jobs -</cite>
		</blockquote>
	</section>
</div>