
<header ng-if="work.tag == 'work'" class="detail-header work-detail" ng-style="{'background-image': 'url(' + work.header + ')'}">
	<img ng-if="work.logo" ng-src="{{work.logo}}" class="logo" alt="{{work.name}} logo">
	<h1 ng-if="!work.logo" data-text="{{work.name}}">{{work.name}}</h1>
	<h2 ng-if="work.tagline" data-text="{{work.tagline}}">{{work.tagline}}</h2>
</header>

<main class="main" id="main">
	<div ng-controller="workdetailCtrl" class="work-detail">
		<div class="embed-nav" style="margin-bottom: -42px;" ng-if="work.tag == 'experiment'" html="{{work.code}}"></div>

		<section class="smoky-section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div ng-if="work.tag =='work'" class="column">
							<p ng-bind-html="work.description">{{work.description}}</p>
						</div>
						<div ng-if="work.tag == 'experiment'" class="no-column">
							<p ng-bind-html="work.description">{{work.description}}</p>
							<p class="what-service"><span class="title-service">What:</span>
								{{work.services.service}}</p>
							<div class="col-md-12 website">
								<div class="ghost-button">
									<a href="{{work.services.website}}">See on codepen</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="work.tag =='work'" class="white-section service-container">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12 services">
						<div class="service-part">
							<h5>Role:</h5>
							<p>{{work.services.role}}</p>
							<hr>
						</div>

						<div class="service-part service">
							<h5>What:</h5>
							<!--<ul>
								<li ng-repeat="service in work.services.service">{{service}}</li>
							</ul>-->
							<p>{{work.services.service}}</p>
							<hr>
						</div>
						<div ng-if="work.services.client" class="service-part">
							<h5>Client:</h5>
							<p>{{work.services.client}}</p>
							<hr>
						</div>
						<div ng-if="work.services.with" class="service-part">
							<h5>With:</h5>
							<p ng-bind-html="work.services.with">{{work.services.with}}</p>
							<hr>
						</div>

						<div class="service-part">
							<h5>When:</h5>
							<p>{{work.services.when}}</p>
							
						</div>
					</div>

					<div class="col-md-12 website">
						<div class="ghost-button-white">
							<a href="{{work.services.website}}" target="_self">Visit the website</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section ng-if="work.tag =='work'" class="container-fluid">
			<img ng-src="{{img}}" ng-repeat="img in work.images" alt="{{work.alt}}">
		</section>


		<div ng-if="work.tag =='work'" class="white-section" ng-controller="quotesCtrl">
		<section class="container">
			<blockquote>
				<p>{{quote.quote}}</p><br>
				<!--cite handwritten svg? -->
				<cite ng-if="quote.author">- {{quote.author}} -</cite>
			</blockquote>
		</section>
	</div>

	</div>
</main>
<div ng-include="'views/partials/footer.html'"></div>