//check if vh is supported in most important browsers
header {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  //create new stacking order to be able to put :after text shadow behind the text
  position: relative;
  z-index: 1;

  h1, h2, h6{
    position: relative;
    text-align: center;
    color: $light;
  }

  h1{
    //No z-index allowed here
    @include vu(font-size, 13vw, $screen-lg-min);
    font-family: $simplifica;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    display: inline-block;
  }

  h2{
    @include vu(font-size, 2.5vw, $screen-lg-min);
    margin: 0% auto;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased !important;
  }

  h6{
    @extend h2;
    font-size: 1.8vw;
    width: 18%;
    margin-top: -2%;

    &:after{
      @include text-shadow(19px, 3px);
    }
  }
}

.main-header{
    background-image: image-url('bg16e.jpg');
    @include vu(height, 100vh, $screen-md-min);
}

/*fix photo size in photoshop*/
.about{
  header{
    display: none;
    background-image: image-url('joke3.jpg');
    width: 100%;
    height: 70vw;
    background-position: center;
  }
}


.detail-header{
  @include vu(height, 100vh, $screen-md-min);

  h2{
    margin: 2% auto;
    max-width: 50%;
    @include vu(font-size, 3.2vw, $screen-lg-min);
    line-height: 1.3;

     &:after{
        @include text-shadow(3px, 3px);
      }    
  }
}

.portfolio{
    h3{
      margin: 30px 0 40px 0;
    }
}

.ie{
  .detail-header{
    h2{
      width: 50%;
    }
  }
}

.saf{
  header{
    h1, .logo{
      margin-top: 18%;
    }
  }
}
