.menu{
	//position: absolute;
	z-index: 2;
	position: relative;

	.menu-btn{
		right: 0;
		margin-top: 15px; 
		background-color: $darkest;
		@include size(70px);
		@include prefix(border-radius, 0px, webkit moz ms o);
		position: absolute;
		z-index: 9999;

		.burger{
			position: absolute;
			background-color: $lightest;
			height: 2px;
			width: 25px;
			left: 22.5px;
			margin-top: 26px;

			&-top{
				top: 0px;
			}
			&-middle{
				top: 8px;
			}
			&-bottom{
				top: 16px;
			}
		}
	}

	.full-menu{
		
  		width: 100vw;
  		max-width:100%;
  		
  		background-color: $darkest;

  		.bg-part{
			width: 12.5%;
			position: absolute;
	    	top: 0vh;
	    	display: inline-block;
	    	background-color: $darkest;
	    	z-index: 100;
		}


  		ul{
  			margin-top: -10px;
  			padding-left: 0;
  			z-index: 200;
  			position: relative;

  			li{
  				
			    font-family: $simplifica;
			    font-weight: 100;
			    font-size:4em;
			    text-transform: uppercase;
			    list-style: none;
			    text-align: center;

			    a{
			    	color: $light;
			    	padding: 5px 45px;

			    	&:hover, &:focus, &:active{
			    		@include border-gradient($gradient-start, $gradient-stop, 1px);
			    		text-decoration: none;
			    		@extend %text-gradient;
			    	}
			    }
  			}
  		}
	}

	.full-menu.menu-open{
		margin-left: -1px;
  		margin-top: -1px;
		position: fixed;
		z-index: 1000;
		
	}

}

.about{
	position: relative;
}