/*mixins, variables*/
/*To Change*/
/* line 1, ../sass/_style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 22, ../sass/_style.scss */
html {
  height: 100%;
}

/* line 23, ../sass/_style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/_style.scss */
#map-canvas {
  height: 100%;
}

/* line 26, ../sass/_style.scss */
input[type="submit"] {
  cursor: pointer;
}

/* HTML5 display-role reset for older browsers */
/* line 31, ../sass/_style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*typography base*/
/* line 37, ../sass/_style.scss */
body {
  font-size: 13px;
}

/* line 40, ../sass/_style.scss */
h1, h2, h3, h4, h5, h6, p {
  font-family: inherit;
  font-size: inherit;
}

/* line 44, ../sass/_style.scss */
h1 {
  font-size: 90px;
  line-height: 1em;
  margin-left: 5%;
}

/* line 50, ../sass/_style.scss */
h3 {
  font-size: 60px;
}

/* line 54, ../sass/_style.scss */
h2 {
  font-size: 60em;
  line-height: 1em;
}

/* line 58, ../sass/_style.scss */
h5 {
  font-size: 30px;
  line-height: 1.5em;
}

/* line 64, ../sass/_style.scss */
#about {
  background: url("../img/3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 72, ../sass/_style.scss */
#portfolio {
  background-image: url("../img/header1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* line 78, ../sass/_style.scss */
.logo a img {
  -webkit-transition: -webkit-transform 0.8s ease-out;
  -moz-transition: -moz-transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
}

/* line 83, ../sass/_style.scss */
.logo a:hover img {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

/* line 89, ../sass/_style.scss */
.circle-text {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

/* line 95, ../sass/_style.scss */
.circle-text:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-color: rgba(20, 133, 204, 0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 106, ../sass/_style.scss */
.circle-text div {
  float: left;
  width: 100%;
  padding-top: 17%;
  margin-top: -0.5em;
  text-align: center;
  color: #f7f7f5;
}

/* line 115, ../sass/_style.scss */
h5 {
  font-family: 'Muli', tahoma;
  width: 400px;
}

/* line 120, ../sass/_style.scss */
#mobilenav a {
  font-size: 16px;
}

/* Portrait */
@media all and (orientation: portrait) {
  /*landscape*/
}
@media all and (orientation: portrait) and (orientation: landscape) {
  /* line 130, ../sass/_style.scss */
  .round {
    margin-top: 10%;
    padding: 10%;
  }

  /* line 136, ../sass/_style.scss */
  .square {
    padding: 10% 2%;
    padding-top: 3%;
    padding-bottom: 12.1%;
  }

  /* line 142, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
@media all and (orientation: portrait) {
  /* line 149, ../sass/_style.scss */
  body {
    font: 16px/1.4em;
  }

  /* line 153, ../sass/_style.scss */
  nav li a {
    text-decoration: none;
  }

  /* line 157, ../sass/_style.scss */
  nav li {
    list-style: none;
  }

  /* line 161, ../sass/_style.scss */
  ul {
    margin: 0 0 0em;
    list-style: disc;
    padding: 0px;
  }

  /* line 167, ../sass/_style.scss */
  p {
    font-family: 'Muli', Tahoma, sans-serif;
  }

  /*navigation mobile first*/
  /* line 173, ../sass/_style.scss */
  #mobilenav li a {
    display: block;
    color: #212121;
    text-decoration: none;
    text-align: center;
    font-family: 'Anaheim', Tahoma, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 2em;
    height: 2em;
    padding-top: 0.5em;
    border-bottom: 1px solid #bfbfbf;
    background-color: #f7f7f5;
  }

  /* line 188, ../sass/_style.scss */
  #mobilenav li:last-child a {
    border-bottom: none;
  }

  /* line 192, ../sass/_style.scss */
  #mobilenav li a:hover,
  #mobilenav li a:focus {
    color: #f7f7f5;
    background: #1485cc;
  }

  /*#topnav #navbtn {
   // display: none;
    padding-left: 15px;
    background-color: #f7f7f5;
    background: url('../img/menu.png') center no-repeat;
    text-indent: -99999px;
  }
  
  #topnav {
  	position: absolute;
  	top: 0;
  	width: 100%;
  }*/
  /* line 212, ../sass/_style.scss */
  #btncolor {
    width: 40px;
    height: 23px;
    border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -webkit-border-radius: 0px 0px 15px 15px;
    background-color: #f7f7f5;
    margin-left: 43%;
  }

  /* line 223, ../sass/_style.scss */
  .round p, .round h1, .round h2 {
    width: 130px;
    font-family: 'Muli', Tahoma, sans-serif;
  }

  /* line 228, ../sass/_style.scss */
  .round p {
    font-size: 90%;
  }

  /*.round h1 {
  	font-size: 350%;
  	margin: 0em;
  	padding: 0em;
  }*/
  /*.round h2 {
  	font-size: 120%;
  	margin: 0em;
  	margin-top: -15px;
  	padding: 0em;
  }*/
  /* line 247, ../sass/_style.scss */
  .roundwrapper {
    width: 100%;
    text-align: center;
  }

  /*footer*/
  /* line 253, ../sass/_style.scss */
  footer {
    height: 1.5em;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 4.5%;
    padding-left: 3%;
    padding-top: 5px;
    position: fixed;
    z-index: 1000000;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 12px;
    background-color: #f7f7f5;
  }

  /* line 271, ../sass/_style.scss */
  #footerwrap {
    margin-bottom: 0px;
  }

  /* line 275, ../sass/_style.scss */
  .squarewrapper {
    width: 100%;
    text-align: right;
  }

  /* line 281, ../sass/_style.scss */
  .square {
    background-color: rgba(55, 55, 55, 0.5);
    color: #f7f7f5;
    display: inline-block;
    text-align: center;
  }

  /* line 288, ../sass/_style.scss */
  .square h3 {
    margin-top: 4%;
    font-size: 30px;
    font-family: 'Muli', Tahoma, sans-serif;
    border-bottom: 1px solid #f7f7f5;
  }

  /* line 295, ../sass/_style.scss */
  .square p {
    font-size: 13px;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-bottom: 0px;
  }

  /* line 301, ../sass/_style.scss */
  #imagewrapper {
    width: 100%;
    height: 100%;
  }

  /* line 306, ../sass/_style.scss */
  #portfolio {
    background-color: #f7f7f5;
  }

  /* line 310, ../sass/_style.scss */
  #title {
    color: #f7f7f5;
    font-family: 'Muli', Tahoma, sans-serif;
    width: 100%;
    text-align: center;
    padding-bottom: 0.3%;
    padding-top: 0.02%;
  }

  /* line 320, ../sass/_style.scss */
  #title p {
    padding-bottom: 3.1%;
  }

  /* line 326, ../sass/_style.scss */
  #portfolioitems {
    margin: 2% 6%;
  }

  /* line 330, ../sass/_style.scss */
  .items {
    float: left;
    display: inline;
    margin: 1%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }

  /* line 339, ../sass/_style.scss */
  #txt {
    width: 90%;
    color: #f7f7f5;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 14px;
    margin-left: 3%;
    text-align: center;
  }

  /* line 348, ../sass/_style.scss */
  #portfolioitems a:hover {
    background-color: rgba(20, 133, 204, 0.8);
  }

  /* line 352, ../sass/_style.scss */
  .ch-item {
    float: left;
    display: inline;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    margin: 2%;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 0 0 0 rgba(20, 133, 204, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
  }

  /* line 370, ../sass/_style.scss */
  .ch-img-1 {
    background-image: url(../img/startup/homestartupport.jpg);
  }

  /* line 374, ../sass/_style.scss */
  .ch-img-2 {
    background-image: url(../img/blog/welcomeport.jpg);
  }

  /* line 378, ../sass/_style.scss */
  .ch-img-3 {
    background-image: url(../img/mise/Mise-coloredport.png);
  }

  /* line 382, ../sass/_style.scss */
  .ch-img-4 {
    background-image: url(../img/Wdoc/portfoliothumb.jpg);
  }

  /* line 386, ../sass/_style.scss */
  .ch-img-5 {
    background-image: url(../img/vos.jpg);
  }

  /* line 390, ../sass/_style.scss */
  .ch-img-6 {
    background-image: url(../img/experiments/rain.png);
  }

  /* line 394, ../sass/_style.scss */
  .ch-img-7 {
    background-image: url(../img/experiments/animation.jpg);
  }

  /* line 398, ../sass/_style.scss */
  .ch-img-8 {
    background-image: url(../img/experiments/canvas.jpg);
  }

  /* line 402, ../sass/_style.scss */
  .ch-img-9 {
    background-image: url(../img/experiments/dropdown.jpg);
  }

  /* line 406, ../sass/_style.scss */
  .ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 60%;
    -moz-border-radius: 60%;
    -webkit-border-radius: 60%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
  }

  /* line 420, ../sass/_style.scss */
  .ch-info h3 {
    color: #f7f7f5;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 0 0px;
    text-align: center;
    margin-bottom: -70px;
    padding: 65px 0 0 0;
    height: 40px;
    font-family: 'Muli', Tahoma, sans-serif;
    text-shadow: 0 0 1px #f7f7f5, 0 1px 2px rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  /* line 438, ../sass/_style.scss */
  .ch-grid a {
    text-decoration: none;
  }

  /* line 442, ../sass/_style.scss */
  .ch-info p {
    color: #f7f7f5;
    padding: 0px 5px;
    font-style: italic;
    text-align: center;
    padding-top: 0px;
    font-size: 12px;
  }

  /* line 452, ../sass/_style.scss */
  .ch-info .first {
    margin-top: 80px;
  }

  /* line 456, ../sass/_style.scss */
  .ch-info p .seemore {
    text-align: center !important;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 0px;
    font-family: 'Mule', Tahoma, sans-serif;
    position: relative;
    z-index: 1;
  }

  /* line 471, ../sass/_style.scss */
  .ch-info p a:hover {
    color: rgba(33, 33, 33, 0.8);
  }

  /* line 475, ../sass/_style.scss */
  .ch-item:hover {
    box-shadow: inset 0 0 0 110px rgba(20, 133, 204, 0.7), inset 0 0 0 16px rgba(20, 133, 204, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  /* line 482, ../sass/_style.scss */
  .ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);
  }

  /* line 487, ../sass/_style.scss */
  .ch-grid {
    list-style: none;
    margin: 3%;
    margin-left: 13%;
    margin-top: 5%;
  }

  /* line 494, ../sass/_style.scss */
  #title h2 {
    font-size: 16px;
    font-family: 'Muli', Tahoma, sans-serif;
    border-bottom: 1px solid #f7f7f5;
    padding-top: 4%;
  }

  /* line 501, ../sass/_style.scss */
  #title p {
    font-size: 12px;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-top: 2%;
  }

  /* line 507, ../sass/_style.scss */
  .wrapper {
    height: 95%;
  }

  /* line 513, ../sass/_style.scss */
  #map-canvas {
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 0;
    width: 100%;
    height: 98%;
  }

  /* line 522, ../sass/_style.scss */
  #map {
    height: 97%;
  }

  /* line 526, ../sass/_style.scss */
  #topnav {
    position: absolute;
    z-index: 9999;
  }

  /* line 531, ../sass/_style.scss */
  #contactform {
    margin-top: 70%;
    width: 100%;
    height: 70%;
    background-color: rgba(33, 33, 33, 0.5);
    position: relative;
    z-index: 500;
  }

  /* line 540, ../sass/_style.scss */
  #contactform h2 {
    font-size: 20px;
    font-family: 'Muli', Tahoma, sans-serif;
    color: #f7f7f5;
    border-bottom: 1px solid #f7f7f5;
    padding-top: 0%;
    padding-bottom: 1.5%;
    margin: 3%;
    text-align: center;
  }

  /* line 551, ../sass/_style.scss */
  label {
    color: #f7f7f5;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 13px;
    margin: 1%;
    margin-left: 3%;
    margin-top: 5%;
    display: block;
  }

  /* line 561, ../sass/_style.scss */
  .field {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    height: 30px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: solid 1px #1485cc;
    background-color: #f7f7f5;
    color: #212121;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }

  /* line 578, ../sass/_style.scss */
  textarea {
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    height: 50px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: solid 1px #1485cc;
    background-color: #f7f7f5;
    color: #212121;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 10px;
    padding-left: 10px;
    outline: none;
  }

  /* line 595, ../sass/_style.scss */
  input:focus, textarea:focus {
    border: 2px solid #1485cc;
  }

  /* line 599, ../sass/_style.scss */
  #send {
    margin-left: 35%;
    margin-top: 3%;
    width: 150px;
    height: 40px;
    outline: none;
    border: 1px solid #1379b8;
    color: #f7f7f5;
    background-color: #1485cc;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: 'Give You Glory', Tahoma, sans-serif;
    font-size: 25px;
  }

  /* line 617, ../sass/_style.scss */
  ::-webkit-validation-bubble-message, ::-webkit-validation-bubble-arrow {
    background-color: #1485cc;
    border: 1px solid #1379b8;
  }

  /* line 622, ../sass/_style.scss */
  ::-webkit-validation-bubble-message {
    color: #f7f7f5;
    font-size: 16px;
    font-family: 'Muli', Tahoma, sans-serif;
    padding: 1em;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-left: 30px;
  }

  /* line 633, ../sass/_style.scss */
  ::-webkit-validation-bubble-arrow {
    margin-left: 80px;
  }

  /* line 639, ../sass/_style.scss */
  ::-webkit-validation-bubble-icon {
    background-image: none;
  }

  /* line 643, ../sass/_style.scss */
  #largeph {
    border-radius: 50%;
    border: 10px solid #1485cc;
    width: 30%;
    height: 30%;
    margin: 5%;
    margin-left: 10%;
    margin-top: 7%;
    float: left;
  }

  /* line 656, ../sass/_style.scss */
  #grid {
    width: 500px;
    margin: 5%;
    display: block;
    position: absolute;
    margin-top: 40%;
    margin-left: 10%;
    height: 50%;
  }

  /* line 666, ../sass/_style.scss */
  #grid img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 3%;
  }

  /* line 673, ../sass/_style.scss */
  #description {
    float: right;
    width: 40%;
    margin: 5%;
    margin-right: 7%;
  }

  /* line 680, ../sass/_style.scss */
  #description p {
    margin-top: 3%;
    font-size: 15px;
  }

  /* line 685, ../sass/_style.scss */
  #description h2 {
    font-size: 30px;
    font-family: 'Muli', Tahoma, sans-serif;
    text-align: center;
    border-bottom: 1px solid #f7f7f5;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }

  /* line 694, ../sass/_style.scss */
  #description .weblink {
    text-align: center;
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #1485cc;
    height: 50px;
  }

  /* line 703, ../sass/_style.scss */
  .itemwrapper {
    width: 100%;
  }

  /* line 707, ../sass/_style.scss */
  #images {
    width: 398px;
    height: 398px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 10px solid #f7f7f5;
    margin: 5%;
    margin-left: 10%;
    margin-top: 9%;
    float: left;
    overflow: hidden;
    position: relative;
  }

  /* line 722, ../sass/_style.scss */
  #images img {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
  }

  /* line 735, ../sass/_style.scss */
  #images img:target {
    z-index: 9;
    opacity: 1;
  }

  /* line 739, ../sass/_style.scss */
  #images img:first-child {
    opacity: 1;
  }

  /* line 743, ../sass/_style.scss */
  #grid a img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    /* For Webkit browsers */
    filter: gray;
    /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;
    /* Transition for Webkit browsers */
  }

  /* line 750, ../sass/_style.scss */
  #grid a img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
  }
}
@media all and (orientation: portrait) and (max-width: 240px) {
  /* line 757, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header4.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
  }

  /* line 763, ../sass/_style.scss */
  .round {
    margin-top: 30%;
    padding: 7% 12%;
    padding-bottom: 13%;
  }

  /* line 769, ../sass/_style.scss */
  .round h1 {
    font-size: 30px;
    padding-bottom: 5px;
  }

  /* line 774, ../sass/_style.scss */
  .round h2 {
    font-size: 16px;
  }

  /* line 778, ../sass/_style.scss */
  .round p {
    font-size: 11px;
  }

  /* line 782, ../sass/_style.scss */
  .squarewrapper {
    height: 100%;
  }

  /* line 786, ../sass/_style.scss */
  .square {
    height: 50%;
    margin-top: 60%;
  }

  /* line 791, ../sass/_style.scss */
  .square #mobilevisible {
    font-size: 9px;
    width: 100%;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-bottom: 0px;
  }

  /* line 798, ../sass/_style.scss */
  .ch-item {
    width: 180px;
    height: 180px;
    margin-bottom: 10%;
  }

  /* line 803, ../sass/_style.scss */
  .ch-img-1 {
    margin-top: 10%;
  }

  /* line 807, ../sass/_style.scss */
  .ch-img-5 {
    margin-bottom: 100px;
  }

  /* line 811, ../sass/_style.scss */
  #map-canvas {
    height: 35%;
  }

  /* line 815, ../sass/_style.scss */
  #contactform {
    height: 110%;
    margin-top: 35%;
    width: 100%;
  }

  /* line 821, ../sass/_style.scss */
  #send {
    margin-left: 20%;
  }

  /* line 825, ../sass/_style.scss */
  #grid {
    display: none;
  }

  /* line 829, ../sass/_style.scss */
  .itemwrapper {
    height: 70%;
    margin-bottom: 100px;
  }

  /* line 834, ../sass/_style.scss */
  #social {
    display: none;
  }

  /* line 838, ../sass/_style.scss */
  #images img, #images {
    margin-top: 15%;
    margin-left: 1%;
    width: 150px;
    height: 150px;
  }

  /* line 845, ../sass/_style.scss */
  #description {
    width: 90%;
    padding-bottom: 30px;
  }

  /* line 850, ../sass/_style.scss */
  #description h2 {
    font-size: 25px;
  }

  /* line 854, ../sass/_style.scss */
  #description p {
    font-size: 12px;
    margin-top: 15%;
  }
}
@media all and (orientation: portrait) and (min-width: 241px) and (max-width: 320px) {
  /* line 861, ../sass/_style.scss */
  .circle-text {
    margin-top: 50%;
    width: 70%;
  }

  /* line 866, ../sass/_style.scss */
  .circle-text h1, .circle-text h5 {
    width: 150px;
  }

  /* line 870, ../sass/_style.scss */
  .circle-text h1 {
    font-size: 25px;
    margin-left: 11%;
    margin-bottom: 2%;
  }

  /* line 876, ../sass/_style.scss */
  .circle-text h5 {
    margin-left: 5%;
    margin-right: 9%;
    font-size: 15px;
  }

  /* line 882, ../sass/_style.scss */
  .ch-grid {
    margin-top: 20%;
    margin-left: 13%;
  }

  /* line 887, ../sass/_style.scss */
  .ch-item {
    width: 200px;
    height: 200px;
  }

  /* line 892, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header3.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
  }

  /* line 898, ../sass/_style.scss */
  #grid {
    display: none;
  }

  /* line 900, ../sass/_style.scss */
  #images img, #images {
    width: 150px;
    height: 150px;
    margin-top: 17%;
  }

  /* line 906, ../sass/_style.scss */
  #images {
    margin-left: 25%;
  }

  /* line 910, ../sass/_style.scss */
  .itemwrapper {
    height: 70%;
    margin-bottom: 100px;
  }

  /* line 915, ../sass/_style.scss */
  #social {
    display: none;
  }

  /* line 919, ../sass/_style.scss */
  #description {
    width: 90%;
    padding-bottom: 30px;
  }

  /* line 924, ../sass/_style.scss */
  #description h2 {
    font-size: 25px;
  }

  /* line 928, ../sass/_style.scss */
  #description p {
    font-size: 12px;
    margin-top: 15%;
  }
}
@media all and (orientation: portrait) and (orientation: portrait) and (min-height: 300px) and (max-height: 400px) {
  /* line 935, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header1.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
  }

  /* line 943, ../sass/_style.scss */
  .square {
    height: 50%;
    margin-top: 70%;
  }

  /* line 948, ../sass/_style.scss */
  .square #mobilevisible {
    font-size: 10px;
    width: 100%;
    font-family: 'Muli', Tahoma, sans-serif;
    padding-bottom: 0px;
  }

  /* line 955, ../sass/_style.scss */
  .ch-img-1 {
    margin-top: 20%;
  }

  /* line 959, ../sass/_style.scss */
  .ch-item {
    margin-bottom: 10%;
  }

  /* line 963, ../sass/_style.scss */
  #map-canvas {
    height: 40%;
  }

  /* line 967, ../sass/_style.scss */
  #contactform {
    height: 90%;
    margin-top: 40%;
    width: 100%;
  }

  /* line 973, ../sass/_style.scss */
  #send {
    margin-left: 20%;
  }

  /* line 977, ../sass/_style.scss */
  #grid {
    display: none;
  }
}
@media all and (orientation: portrait) and (max-width: 320px) {
  /* line 982, ../sass/_style.scss */
  .square {
    width: 100%;
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 5%;
  }

  /* line 989, ../sass/_style.scss */
  .square h1 {
    font-family: 'Muli', Tahoma, sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #f7f7f5;
    padding: 5px;
    margin: 5px;
  }

  /* line 997, ../sass/_style.scss */
  .square p, .square a {
    display: none;
  }

  /* line 1001, ../sass/_style.scss */
  #title h2 {
    padding-top: 14%;
  }

  /* line 1006, ../sass/_style.scss */
  #map {
    height: 110%;
  }

  /* line 1010, ../sass/_style.scss */
  #grid {
    display: none;
  }
}
@media all and (orientation: portrait) and (max-width: 321px) and (min-height: 401px) and (max-height: 480px) {
  /* line 1014, ../sass/_style.scss */
  .square {
    width: 100%;
    height: 50%;
    margin-top: 75%;
    font-family: 'Muli', Tahoma, sans-serif;
  }

  /* line 1021, ../sass/_style.scss */
  .square h1 {
    font-size: 16px;
  }

  /* line 1025, ../sass/_style.scss */
  .square #mobilevisible {
    font-size: 12px;
  }

  /* line 1029, ../sass/_style.scss */
  .ch-grid {
    margin: 1%;
    margin-top: 10%;
  }

  /* line 1034, ../sass/_style.scss */
  .ch-item {
    width: 140px;
    height: 140px;
    margin: 1%;
  }

  /* line 1040, ../sass/_style.scss */
  .ch-info h3 {
    margin: 0px;
    margin-left: 25px;
    margin-top: -10px;
  }

  /* line 1046, ../sass/_style.scss */
  .ch-info p {
    margin: 0px;
    margin-top: -100px;
    margin-left: -30px;
    border-top: 0px;
  }

  /* line 1053, ../sass/_style.scss */
  #title p {
    margin-top: 5%;
    padding-bottom: 15%;
  }

  /* line 1058, ../sass/_style.scss */
  #grid {
    display: none;
  }
}
@media all and (orientation: portrait) and (orientation: portrait) and (min-width: 322px) {
  /* line 1062, ../sass/_style.scss */
  .circle-text {
    margin-top: 40%;
    width: 60%;
  }

  /* line 1067, ../sass/_style.scss */
  .circle-text h1, .circle-text h5 {
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1073, ../sass/_style.scss */
  .circle-text h1 {
    font-size: 27px;
  }

  /* line 1077, ../sass/_style.scss */
  .circle-text h5 {
    font-size: 17px;
  }

  /* line 1081, ../sass/_style.scss */
  #portfolio {
    background-image: url("../img/header3.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
  }

  /* line 1087, ../sass/_style.scss */
  #title {
    padding-bottom: 0%;
  }

  /* line 1091, ../sass/_style.scss */
  #title h2 {
    font-size: 20px;
    padding-top: 10%;
  }

  /* line 1096, ../sass/_style.scss */
  #title p {
    font-size: 100%;
    padding: 3%;
  }

  /* line 1102, ../sass/_style.scss */
  .ch-grid {
    margin: 1%;
    margin-top: 10%;
  }

  /* line 1107, ../sass/_style.scss */
  .ch-item {
    width: 140px;
    height: 140px;
    margin: 1%;
  }

  /* line 1113, ../sass/_style.scss */
  .ch-info h3 {
    margin: 0px;
    margin-left: 25px;
    margin-top: -10px;
  }

  /* line 1119, ../sass/_style.scss */
  .ch-info p {
    margin: 0px;
    margin-top: -100px;
    margin-left: -30px;
    border-top: 0px;
  }

  /* line 1126, ../sass/_style.scss */
  #title p {
    margin-top: 5%;
    padding-bottom: 15%;
  }
}
@media all and (orientation: portrait) and (min-width: 599px) {
  /* line 1134, ../sass/_style.scss */
  #mobilenav ul .sel {
    border-top: 4px solid #1485cc;
    padding-top: 0px;
  }
}
@media only all and (orientation: portrait) and (min-width: 600px) {
  /* line 1230, ../sass/_style.scss */
  .circle-text {
    margin-top: 10%;
    width: 50%;
  }

  /* line 1235, ../sass/_style.scss */
  .circle-text h1, .circle-text h5 {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 1241, ../sass/_style.scss */
  .circle-text h1 {
    font-size: 40px;
  }

  /* line 1245, ../sass/_style.scss */
  .circle-text h5 {
    font-size: 25px;
  }

  /* line 1249, ../sass/_style.scss */
  .wrapper {
    position: relative;
    width: 100%;
    margin: auto;
  }

  /* line 1255, ../sass/_style.scss */
  .navwrapper {
    background: #f7f7f5;
    width: 100%;
    height: 40px;
    position: relative;
  }

  /*position navigation ipad*/
  /* line 1263, ../sass/_style.scss */
  #mobilenav {
    margin: 0 auto;
    width: 600px;
    height: 32px;
    position: relative;
    font-size: 120%;
  }

  /* line 1271, ../sass/_style.scss */
  .logo {
    position: absolute;
    z-index: 9999;
    left: 42%;
    width: 65px;
    height: 70px;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background-color: #f7f7f5;
  }

  /* line 1283, ../sass/_style.scss */
  .logo img {
    padding-left: 3px;
    padding-top: 8px;
  }

  /* line 1288, ../sass/_style.scss */
  #mobilenav ul {
    padding-left: 6%;
  }

  /* line 1292, ../sass/_style.scss */
  #mobilenav li {
    display: inline;
  }

  /* line 1296, ../sass/_style.scss */
  #mobilenav li a {
    float: left;
    border: none;
    padding: 0 20px;
    padding-top: 10px;
    height: 30px;
  }

  /* line 1304, ../sass/_style.scss */
  #mobilenav li .special {
    margin-left: 180px;
  }

  /* line 1308, ../sass/_style.scss */
  #btncolor {
    display: none;
  }

  /* line 1312, ../sass/_style.scss */
  #topnav {
    position: relative;
  }

  /* line 1316, ../sass/_style.scss */
  .round p {
    font-size: 30px;
  }

  /*.round h1 {
  	font-size: 90px;
  	margin: 0em;
  	padding: 0em;
  }*/
  /*.round h2 {
  	font-size: 30px;
  	margin: 0em;
  	padding: 0em;
  }*/
  /* line 1333, ../sass/_style.scss */
  .square h1, .square h2, .square p {
    width: 200px;
  }

  /* line 1337, ../sass/_style.scss */
  #contactform {
    margin-top: 0%;
    width: 35%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.5);
    position: relative;
    z-index: 500;
    float: right;
  }

  /* line 1347, ../sass/_style.scss */
  footer {
    display: inline;
    height: 2em;
  }

  /* line 1352, ../sass/_style.scss */
  footer p {
    float: left;
    padding-top: 3px;
  }

  /* line 1357, ../sass/_style.scss */
  #index footer p {
    padding-top: -10px;
  }

  /* line 1361, ../sass/_style.scss */
  footer #social {
    float: right;
    margin-right: 6%;
    margin-top: -4px;
  }

  /* line 1367, ../sass/_style.scss */
  #index footer #social {
    margin-top: -10px;
  }

  /* line 1371, ../sass/_style.scss */
  footer #social img {
    width: 25px;
    height: 25px;
  }

  /* line 1376, ../sass/_style.scss */
  #largeph {
    width: 200px;
    height: 200px;
    margin-top: 10%;
  }

  /* line 1382, ../sass/_style.scss */
  .itemwrapper {
    height: 70%;
    margin-bottom: 100px;
  }

  /* line 1387, ../sass/_style.scss */
  #description {
    width: 35%;
    padding-bottom: 30px;
  }

  /* line 1392, ../sass/_style.scss */
  #description h2 {
    font-size: 25px;
  }

  /* line 1396, ../sass/_style.scss */
  #description p {
    font-size: 12px;
    margin-top: 30px;
  }

  /* line 1402, ../sass/_style.scss */
  #images {
    margin-left: 7%;
  }

  /* line 1406, ../sass/_style.scss */
  #images, #images img {
    width: 250px;
    height: 250px;
  }

  /* line 1411, ../sass/_style.scss */
  #grid {
    width: 40%;
    margin: 5%;
    display: block;
    position: absolute;
    margin-top: 320px;
    margin-left: 10%;
    height: 50%;
  }
}
@media all and (orientation: portrait) {
  /* iPad (landscape) ----------- */
  /* line 1992, ../sass/_style.scss */
  ul.tabs {
    margin: 0px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 0px;
    list-style: none;
    font-family: 'Muli';
  }

  /* line 2001, ../sass/_style.scss */
  ul.tabs li a {
    font-family: 'Muli';
    color: #212121;
    text-decoration: none;
  }

  /* line 2006, ../sass/_style.scss */
  ul.tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  /* line 2014, ../sass/_style.scss */
  ul.tabs li.current {
    background: #ededed;
    color: #222;
  }

  /* line 2019, ../sass/_style.scss */
  .tab-content {
    display: none;
  }

  /* line 2023, ../sass/_style.scss */
  .tab-content.current {
    display: inherit;
  }

  /* line 2027, ../sass/_style.scss */
  .rain {
    background-color: #1abc9c;
  }

  /* line 2031, ../sass/_style.scss */
  .rain .container {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
  }
}
/*partials*/
/* line 2, ../sass/partials/_typography.scss */
.navbar a {
  font-family: "Anaheim", Tahoma, sans-serif;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 16px;
}

/* line 1, ../sass/partials/_menu.scss */
.navbar {
  background: #f7f7f5;
  width: 100%;
  height: 40px;
}
/* line 6, ../sass/partials/_menu.scss */
.navbar .navwrapper {
  display: block;
  margin: 0 auto;
  width: 600px;
}
/* line 13, ../sass/partials/_menu.scss */
.navbar ul li {
  float: left;
  padding: 10px 30px;
  list-style: none;
}
/* line 18, ../sass/partials/_menu.scss */
.navbar ul li a {
  text-decoration: none;
  color: #212121;
}

/*pages*/
/* line 1, ../sass/pages/_index.scss */
.home {
  background: url("../images/background/snow.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
