    <footer>
      <div class="container">
        <div class="col-sm-2 col-xs-12">
        	<h5>Joke Gysen</h5>
        </div>
        <div class="col-sm-4 col-xs-12 contact-message">
        	<p>If you'd like to discuss a project or contract opportunities, please feel free to contact me.
        	</p>
        </div>
        <div class="col-sm-3 col-xs-12  col-md-offset-1 contact-footer"> 
        	<p>
                Brussels - Belgium<br>
                contact@jokegysen.com<br>
        		+32 (0)47 302 8172
        	</p>
        </div>
        <div class="col-sm-2 col-xs-12 footer-icons">
        	<div class="col-xs-12">
        		<div class="col-xs-3 col-xs-offset-3 col-sm-6 col-sm-offset-0"><a href=""><i class="fa fa-twitter"></i></a></div>
        		<div class="col-xs-6 footer-icons-right"><a href=""><i class="fa fa-pinterest"></i></a></div>
        	</div>
        	<div class="col-xs-12">
        		<div class="col-xs-3 col-xs-offset-3 col-sm-6 col-sm-offset-0"><a href=""><i class="fa fa-facebook"></i></a></div>
        		<div class="col-xs-6 footer-icons-right"><a href=""><i class="fa fa-linkedin"></i></a></div>
        	</div>
        </div>

        <div class="col-xs-12 copyright">©&nbsp; copyright 2015 Joke Gysen. All rights reserved.</div>
      </div>
    </footer> 