    <footer>
      <div class="container">
        <div class="col-md-2">
        	<h5>Joke Gysen</h5>
        </div>
        <div class="col-md-4">
        	<p>Avenue du roi chevalier 18/6 <br>
        		1200 st-lambrechts-woluwe <br>
        		Belgium
        	</p>
        </div>
        <div class="col-md-4"> 
        	<p>contact@jokegysen.com<br>
        		+32 (0)47 302 8172
        	</p>
        </div>
        <div class="col-md-2 footer-icons">
        	<div class="col-md-12">
        		<div class="col-md-6"><a href=""><i class="fa fa-twitter"></i></a></div>
        		<div class="col-md-6"><a href=""><i class="fa fa-pinterest"></i></a></div>
        	</div>
        	<div class="col-md-12">
        		<div class="col-md-6"><a href=""><i class="fa fa-facebook"></i></a></div>
        		<div class="col-md-6"><a href=""><i class="fa fa-linkedin"></i></a></div>
        	</div>
        </div>

        <div class="col-md-12 copyright">©&nbsp; copyright 2015 Joke Gysen. All rights reserved.</div>
      </div>
    </footer>