    <footer>
      <div class="container">
        <div class="col-sm-2 col-xs-12">
        	<h5>Joke Gysen</h5>
        </div>
        <div class="col-sm-4 col-xs-12 contact-message">
        	<p>If you'd like to discuss a project or contract opportunities, please feel free to contact me.
        	</p>
        </div>
        <div class="col-sm-3 col-xs-12  col-md-offset-1 contact-footer"> 
        	<p>
                Brussels - Belgium<br>
                <a href='mailto:jokegysen@gmail.com?Subject=Hello%20again" target="_top"'>jokegysen@gmail.com</a><br>
        		+32 (0)47 302 8172
        	</p>
        </div>
        <div class="col-sm-2 col-xs-12 footer-icons">
        	<div class="col-xs-12">
        		<div class="col-xs-3 col-xs-offset-3 col-sm-6 col-sm-offset-0"><a href="https://twitter.com/jokegysen"><i class="fa fa-twitter"></i><span class="screen-reader-text">Follow me on Twitter</span></a></div>
        		<div class="col-xs-6 footer-icons-right"><a href="https://www.pinterest.com/keukenrolletje/"><i class="fa fa-pinterest"></i><span class="screen-reader-text">Follow me on Pinterest</span></a></div>
        	</div>
        	<div class="col-xs-12">
        		<div class="col-xs-3 col-xs-offset-3 col-sm-6 col-sm-offset-0"><a href="https://www.facebook.com/joke.gysen"><i class="fa fa-facebook"></i><span class="screen-reader-text">Follow me on Facebook</span></a></div>
        		<div class="col-xs-6 footer-icons-right"><a href="https://be.linkedin.com/in/jokegysen"><i class="fa fa-linkedin"></i><span class="screen-reader-text">Follow me on Linkedin</span></a></div>
        	</div>
        </div>

        <div class="col-xs-12 copyright">©&nbsp; copyright 2015 Joke Gysen. All rights reserved.</div>
      </div>
    </footer> 