<div class="menu">
  <div class="btn-container">
  <div class="menu-btn" randomnumber ng-click="open=!open" ng-class="{'menu-btn-open': open, 'menu-btn-closed': !open}" tabindex="0" role="button" aria-label="Menu button">
    <div class="burger burger-top"></div>
    <div class="burger burger-middle"></div>
    <div class="burger burger-bottom"></div>
  </div>
  <div ng-class="{'menu-open': open, 'menu-closed': !open}" class="full-menu">
  	<div class="full-page">
        <div class="bg-part" style="transition-delay: {{random[0]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[1]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[2]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[3]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[4]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[5]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[6]}}s"></div>
        <div class="bg-part" style="transition-delay: {{random[7]}}s"></div>
    	<ul>
    		<li><a href="#/" ng-class="{'hidden': !open}" ng-click="open=!open">Home</a></li>
    		<li><a href="#/about" ng-class="{'hidden': !open}" ng-click="open=!open">About</a></li>
    		<li><a href="#/portfolio" ng-class="{'hidden': !open}" ng-click="open=!open">Portfolio</a></li>
    		<li><a href="#/contact" ng-class="{'hidden': !open}" ng-click="open=!open">Contact</a></li>
    	</ul>
    </div>
  </div>
</div>
</div>