<div class="menu">
  <div class="btn-container">
  <div class="menu-btn" ng-click="open=!open" ng-class="{'menu-btn-open': open, 'menu-btn-closed': !open}">
    <div class="burger burger-top"></div>
    <div class="burger burger-middle"></div>
    <div class="burger burger-bottom"></div>
  </div>
  <div ng-class="{'menu-open': open, 'menu-closed': !open}" class="full-menu">
  	<div class="full-page">
    	<ul>
    		<li><a href="#/" ng-click="open=!open">Home</a></li>
    		<li><a href="#/about" ng-click="open=!open">About</a></li>
    		<li><a href="#/portfolio" ng-click="open=!open">Portfolio</a></li>
    		<li><a href="#">Contact</a></li>
    	</ul>
    </div>
  </div>
</div>