.container-portfolio{
	padding: 0 5px;

	width: 100%;
}

.work{
	position: relative;
	width: 100%;
	overflow: hidden;

	img{
		width: 100%;
	}

	.description-card{
		@include size(50%, 20vw);
		background-color: $darkest;
		position: relative;
		margin-top: 16%;
		z-index: 1;
		box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.44);

		h4{
			margin-bottom: 3px;
			margin-top: 0px;
		}

		p{
			padding-top: 0px;
		}


		hr{
			margin: -10px 100px 20px 0px;.
			background: -moz-linear-gradient(left, $gradient-start 0%, $gradient-stop 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,$gradient-start), color-stop(100%,$gradient-stop)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left, $gradient-start 0%,$gradient-stop 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left, $gradient-start 0%, $gradient-stop 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left, $gradient-start 0%, $gradient-stop 100%); /* IE10+ */
			background: linear-gradient(to right, $gradient-start 0%, $gradient-stop 100%); /* W3C */
			border: none;
			height: 1px;
		} 

		.description-inner{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			width: 65%;
		    display: block;
		    margin: 0 auto;
		}
	}
}

.work-left, .work-right{
		float: left;
		padding-left: 2.5px;
		padding-right: 2.5px;
		margin-bottom: 5px;
		width: 33.3%;
		height: 33%;
		animation: none;
		transform: translateX(0px);

		&:hover{
			img{
				transform: scale(1.3) rotate(3deg);
			}
		}

		img{
			transition: transform 0.5s ease-out;
			transform: scale(1) rotate(0deg);
		}

		.description-card{
			bottom: 0px;
			left: 0px;
			float: initial;
	    	position: absolute;
	    	width: 100%;
	    	@include vu(height, 15vw, $screen-xl-min);
		}

	a{
		width: 100%;
	}
}

@media (max-width: $screen-xxs-min) {
	.come-in-left, .come-in-right{
		transform: translateY(150px);
		animation: slide-up 0.8s ease forwards;
	}

	@keyframes slide-up {
		to {
			transform: translateX(0);
		}
	}
}