//base color variables
$sea-green: #348f50;
$shakespeare: #56b4d3;
$mine-shaft: #202020;
$white: #ffffff;
$wild-sand: #f5f5f5;
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb5;
$pinterest: #cb2027;

//descriptive names
$gradient-start: $sea-green;
$gradient-stop: $shakespeare;
$lightest: $white;
$light: #fcfcfc; 
$darkest: $mine-shaft;
