.navbar{
  background: $white-sand;
  width: 100%;
  height: 40px;

  .navwrapper{
    display: block;
    margin: 0 auto;
    width: 600px;
  }

 ul{
   li{
     float: left;
     padding: 10px 30px;
     list-style: none;

     a{
        text-decoration: none;
        color: $mine-shaft;
     }
   }
 }
}