
<header class="main-header">
  <h1>Joke Gysen</h1>
  <h2>Front-end developer</h2>
</header>
<main class="main" id="main">
	<div class="smoky-section">
		<section class="container-sm">
			<div class="main-heading">
				<h3 class="line-large-green">Who I am</h3>
			</div>
			<p>Hello there, my name is Joke Gysen, i’m a self-taught front end developer, located in Brussels. I have a passion for the web, sass, svg, animation and responsive design. I’m currently looking for a <span class="highlight">fulltime job</span>.
	 Please take a look at my portfolio and hopefully we can chat!</p>
		</section>
	</div>
	<div class="white-section" ng-controller="MainCtrl">
		<section class="container-sm-2">
			<div class="main-heading">
				<h3 class="line-large-green">Recent work</h3>
			</div>
		</section>
		<div class="main-grid" hovertab>

			<!-- avoid ng-repeat and ng-if if possible -->
			<a  href="{{::grid[0].website}}">
					<figure class="img-1">
						<span class="sr-only">{{::grid[0].name}} - {{::grid[0].description}}</span>
						<img  ng-src="{{::grid[0].imgSmall}}" class="grid" alt="Vggie detail page">
						
						<figcaption tabindex="0" role="button" aria-label="Vggie detail page">
							<div class="company-heading">
								<h4 class="line-large-black">{{::grid[0].name}}</h4>
								<p>{{::grid[0].description}}</p>
							</div>
						</figcaption>
					</figure>
				</a>
				<a  href="{{::grid[1].website}}">
					<figure class="img-2 figure-small">
						<span class="sr-only">{{::grid[1].name}} - {{::grid[1].description}}</span>
						<img  ng-src="{{::grid[1].imgSmall}}" class="grid" alt="Oleaz detail page">
						
						<figcaption tabindex="0" role="button" aria-label="Oleaz detail page">
							<div class="company-heading">
								<h6 class="line-small-black">{{::grid[1].name}}</h6>
								<p>{{::grid[1].description}}</p>
							</div>
						</figcaption>
					</figure>
				</a>
				<a  href="{{::grid[2].website}}">
					<figure class="img-3 figure-small">
						<span class="sr-only">{{::grid[2].name}} - {{::grid[2].description}}</span>
						<img  ng-src="{{::grid[2].imgSmall}}" class="grid" alt="Startup Basecamp detail page">
						
						<figcaption tabindex="0" role="button" aria-label="Startup Basecamp detail page">
							<div class="company-heading">
								<h6 class="line-small-black">{{::grid[2].name}}</h6>
								<p>{{::grid[2].description}}</p>
							</div>
						</figcaption>
					</figure>
				</a>
			
			<a href="#/portfolio"><div class="grid see-more" tabindex="0" role="button"><p>See all projects</p></div></a>
		</div>
	</div>
	<div class="white-section" ng-controller="quotesCtrl">
		<section class="container">
			<blockquote>
				<p>{{::quote.quote}}</p><br>
				<cite ng-if="::quote.author">- {{::quote.author}} -</cite>
			</blockquote>
		</section>
	</div>
</main>
<div ng-include="'views/partials/footer.html'"></div>